{%- from "includes/san/pds-header/macro.njk" import pdsHeader -%}

{{ pdsHeader({
  environmentName: 'PRODUCTION',
  name: 'Amari Kim',
  manageDetailsLink: '#',
  servicesLink: '#',
  services: [],
  titleLink: '/san'
}) }}
