{# Set pageHeading per page; optional tieringSectionCaption (default Tiering) and statusTag #}
<div class="govuk-grid-row assessment-service-header">
  <div class="govuk-grid-column-full">
    <div class="assessment-layout__row assessment-layout__row--tight">
      <div class="assessment-service-header__title-group">
        <p class="govuk-caption-l assessment-service-header__section-caption">{{ tieringSectionCaption | default("Tiering") }}</p>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageHeading | default("Tiering assessment") }}</h1>
      </div>
      <div class="assessment-service-header__actions">
        {% if statusTag %}
        <strong class="govuk-tag govuk-tag--grey assessment-layout__status-tag" aria-hidden="true">{{ statusTag }}</strong>
        {% endif %}
        <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
          Return to OASys
        </button>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>
