<section aria-labelledby="person-heading" class="govuk-grid-row assessment-offender-header">
  <div class="govuk-grid-column-full">
    <span class="govuk-body-s assessment-offender-header__identifiers" data-offender-dob-day="2" data-offender-dob-month="10" data-offender-dob-year="1969">
      CRN: X769773 | PNC: 01/17658481A | Date of birth: 2 October 1969
    </span>
    <div class="assessment-layout__row assessment-layout__row--tight">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="person-heading">Alex Smith</h2>
      {% if not hideOffenderViewAnswers %}
      <a class="govuk-link assessment-offender-header__view-answers" href="#" data-tiering-inactive-link>View all answers</a>
      {% endif %}
    </div>
    <div id="assessment-info" class="govuk-visually-hidden" data-assessment-id="88b81aaa-7af7-49ed-8843-1fad974b3e72"></div>
  </div>
</section>
