{%- if predictorsSectionCaption !== false -%}
  {%- set journeyPageTitleCaption = predictorsSectionCaption | default(tieringSectionCaption) | default("Reoffending predictors") -%}
{%- else -%}
  {%- set journeyPageTitleCaption = "" -%}
{%- endif -%}
{%- if pageHeadingHtml -%}
  {%- set journeyPageTitleHeading = pageHeadingHtml | striptags -%}
{%- elif pageHeading -%}
  {%- set journeyPageTitleHeading = pageHeading -%}
{%- elif pageName -%}
  {%- set journeyPageTitleHeading = pageName -%}
{%- elif offenceBrowseTitle -%}
  {%- set journeyPageTitleHeading = offenceBrowseTitle -%}
{%- else -%}
  {%- if useReoffendingServiceNavigation -%}
  {%- set journeyPageTitleHeading = "Reoffending predictors assessment" -%}
  {%- else -%}
  {%- set journeyPageTitleHeading = "Tiering assessment" -%}
  {%- endif -%}
{%- endif -%}
{%- if journeyPageTitleCaption -%}
{{- journeyPageTitleCaption }} - {{ journeyPageTitleHeading -}}
{%- else -%}
{{- journeyPageTitleHeading -}}
{%- endif -%}
