{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

<div class="govuk-form-group govuk-!-margin-top-0">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      Is {{ offenderFirstName }} currently being supervised in the community?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="supervised-in-community-yes"
          name="supervised_in_community"
          type="radio"
          value="yes"
          data-aria-controls="conditional-supervised-in-community-yes"
        >
        <label class="govuk-label govuk-radios__label" for="supervised-in-community-yes">Yes</label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-supervised-in-community-yes">
        <h2 id="tiering-supervised-community-date" class="govuk-heading-s tiering-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
          What date did {{ offenderFirstName }}'s supervision begin?
        </h2>
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
              What date did {{ offenderFirstName }}'s supervision begin?
            </legend>
            <div class="govuk-date-input" id="supervised-community-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="supervised-community-date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="supervised-community-date-day" name="supervised_community_date_day" type="text" inputmode="numeric" autocomplete="off" data-date-part="day">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="supervised-community-date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="supervised-community-date-month" name="supervised_community_date_month" type="text" inputmode="numeric" autocomplete="off" data-date-part="month">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="supervised-community-date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="supervised-community-date-year" name="supervised_community_date_year" type="text" inputmode="numeric" autocomplete="off" data-date-part="year">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="supervised-in-community-no"
          name="supervised_in_community"
          type="radio"
          value="no"
          data-aria-controls="conditional-supervised-in-community-no"
        >
        <label class="govuk-label govuk-radios__label" for="supervised-in-community-no">No</label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-supervised-in-community-no">
        <h2 id="tiering-community-date" class="govuk-heading-s tiering-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
          What is the earliest date {{ offenderFirstName }} could be in the community once they've received their sentence?
        </h2>
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
              What is the earliest date {{ offenderFirstName }} could be in the community once they've received their sentence?
            </legend>
            <div class="govuk-date-input" id="community-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="community-date-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="community-date-day" name="community_date_day" type="text" inputmode="numeric" autocomplete="off" data-date-part="day">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="community-date-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="community-date-month" name="community_date_month" type="text" inputmode="numeric" autocomplete="off" data-date-part="month">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="community-date-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="community-date-year" name="community_date_year" type="text" inputmode="numeric" autocomplete="off" data-date-part="year">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </fieldset>
</div>
