{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

<h2 id="tiering-current-offence" class="govuk-heading-m tiering-question-anchor govuk-!-margin-top-4 govuk-!-margin-bottom-2">
  What is {{ offenderFirstName }}'s current offence?
</h2>

{% set idPrefix = "current-offence-search" %}
{% set inputName = "current_offence_search" %}
{% set labelText = "What is " ~ offenderFirstName ~ "'s current offence?" %}
{% set checkMode = false %}
{% set modifierClass = "govuk-!-margin-bottom-6" %}
{% set showBrowseLink = true %}
{% set browseLinkText = "Find an offence" %}
{% set showSelectedPanel = true %}
{% set showViolentTag = false %}
{% set searchManual = true %}
{% set searchNoSuggest = true %}
{% set showSearchButton = true %}
{% include "includes/offence-search-field.html" %}

<h2 id="tiering-conviction-date" class="govuk-heading-m tiering-question-anchor govuk-!-margin-top-8 govuk-!-margin-bottom-4">
  What is the date of {{ offenderFirstName }}'s current conviction?
</h2>

<div class="govuk-form-group" data-conviction-date-edit data-conviction-date-input-only>
  <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      What is the date of {{ offenderFirstName }}'s current conviction?
    </legend>
    <div class="govuk-date-input" id="current-conviction-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="current-conviction-date-day">Day</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="current-conviction-date-day" name="current_conviction_date_day" type="text" inputmode="numeric" autocomplete="bday-day">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="current-conviction-date-month">Month</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="current-conviction-date-month" name="current_conviction_date_month" type="text" inputmode="numeric" autocomplete="bday-month">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="current-conviction-date-year">Year</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="current-conviction-date-year" name="current_conviction_date_year" type="text" inputmode="numeric" autocomplete="bday-year">
        </div>
      </div>
    </div>
  </fieldset>
</div>
