<p class="govuk-body">Count sanctions for offences with an adult victim such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape or attempted rape</li>
  <li>sexual assault</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sex with an adult relative</li>
  <li>sexual activity with someone with a mental disorder or learning disability, including ‘breach of trust’ offences</li>
  <li>abduction (under the Sexual Offences 1956 Act)</li>
  <li>trafficking for sexual exploitation</li>
  <li>administering a substance with intent to engage in a sexual activity</li>
</ul>
