<p class="govuk-body">Count sanctions for offences with a child victim such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape or attempted rape</li>
  <li>assault by penetration</li>
  <li>sexual assault</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sexual activity with a child family member</li>
  <li>inciting a child family member to engage in sexual activity</li>
  <li>abuse of trust sexual offences</li>
  <li>abduction (under the Sexual Offences 1956 Act, not the Child Abduction Act 1984)</li>
</ul>
