<h4 class="govuk-heading-m risk-predictor-scores__details-heading">What this score predicts</h4>
<p class="govuk-body">
  The Direct contact – sexual reoffending predictor predicts the risk of the following offences with an adult victim:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape or attempted rape</li>
  <li>sexual assault</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sex with an adult relative</li>
  <li>sexual activity with someone with a mental disorder or learning disability, including ‘breach of trust’ offences</li>
  <li>abduction (under the Sexual Offences 1956 Act)</li>
  <li>trafficking for sexual exploitation</li>
  <li>administering a substance with intent to engage in a sexual activity</li>
</ul>
<p class="govuk-body">It also predicts the risk of the following offences with a child victim:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape or attempted rape</li>
  <li>assault by penetration</li>
  <li>sexual assault</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sexual activity with a child family member</li>
  <li>inciting a child family member to engage in sexual activity</li>
  <li>abuse of trust sexual offences</li>
  <li>abduction (under the Sexual Offences 1956 Act, not the Child Abduction Act 1984)</li>
</ul>
<p class="govuk-body">
  It does not predict other sexual offences that do not involve actual or attempted physical contact with a live human victim. For example:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>possession of extreme pornographic images</li>
  <li>exposure</li>
  <li>voyeurism</li>
  <li>sending a photograph or film of genitals</li>
  <li>sharing or threatening to share an intimate photograph or film</li>
</ul>
<p class="govuk-body">
  Further guidance about the offences it does not predict is available as an annex to the
  <a class="govuk-link" href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/app/documents/091B36B5CE134AC5B45D06A30D09F8B9/master" data-tiering-inactive-link>Understanding risk predictors - actuarial risk assessment instruments (ARAI) user guidance (EQUip)</a>.
</p>
