<p class="govuk-body govuk-!-margin-bottom-2">Count sanctions for the following offences where the victim is under 16, unless it is specified that victim can be under 18:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape</li>
  <li>attempted rape</li>
  <li>sexual assault</li>
  <li>indecent assault</li>
  <li>assault by penetration</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sexual activity with a child family member with victim aged under 18</li>
  <li>inciting a child family member to engage in sexual activity</li>
  <li>abuse of trust sexual offences with victim aged under 18</li>
  <li>abduction (under the Sexual Offences 1956 Act)</li>
  <li>trafficking for sexual exploitation</li>
  <li>buggery or attempted buggery</li>
  <li>administering a substance with intent</li>
  <li>gross indecency with a male aged under 18</li>
  <li>paying for sex with victims aged under 18</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-0">Do not count breach offences.</p>
