<p class="govuk-body">Count sanctions for indecent child image or indirect contact child sexual or sexually motivated offences such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>causing or inciting a child to engage in sexual activity</li>
  <li>engaging in sexual activity in the presence of a child under 13 (offender aged 18 or over)</li>
  <li>causing a child under 13 to watch a sexual act (offender aged 18 or over)</li>
  <li>meeting a child following sexual grooming</li>
  <li>sexual communication with a child</li>
  <li>taking, permitting to be taken or making indecent photographs or pseudo photographs of children</li>
  <li>distributing or publishing indecent photographs or pseudo photographs of children</li>
  <li>possession of an indecent photograph of a child</li>
  <li>possessing prohibited images of children</li>
</ul>
