<input type="hidden" name="current_offence_id" value="" data-offence-selected-id>

<div class="govuk-inset-text govuk-!-margin-bottom-6" data-offence-selected-summary hidden>
  <p class="govuk-body govuk-!-margin-bottom-1"><strong>Selected offence</strong></p>
  <p class="govuk-body govuk-!-margin-bottom-1" data-offence-selected-summary-label></p>
  <p class="govuk-body govuk-!-margin-bottom-0" data-offence-selected-summary-code hidden></p>
</div>

<div class="offences-all-page__actions">
  <button type="submit" class="govuk-button" data-module="govuk-button" data-offence-confirm-button disabled>
    Save and continue
  </button>
  <a class="govuk-button govuk-button--secondary" href="a1.html" data-tiering-return-to-a1 data-module="govuk-button">Cancel</a>
</div>
