{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

<div class="govuk-form-group govuk-!-margin-top-0">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      Since <span data-community-date-display>that date</span>, has {{ offenderFirstName }} committed any offences?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="offences-since-community-yes"
          name="offences_since_community"
          type="radio"
          value="yes"
          data-aria-controls="conditional-offences-since-community-yes"
        >
        <label class="govuk-label govuk-radios__label" for="offences-since-community-yes">Yes</label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-offences-since-community-yes">
        {% include "includes/recent-offence-date-question.html" %}
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="offences-since-community-no" name="offences_since_community" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="offences-since-community-no">No</label>
      </div>
      <div class="govuk-radios__item" hidden aria-hidden="true" style="display: none;">
        <input class="govuk-radios__input" id="offences-since-community-unknown" name="offences_since_community" type="radio" value="unknown" disabled>
        <label class="govuk-label govuk-radios__label" for="offences-since-community-unknown">Unknown</label>
      </div>
    </div>
  </fieldset>
</div>
