{# Offence browse – page title #}
<div class="assessment-layout__section assessment-layout__section--compact offence-browse-heading{% if offenceBrowseSortFilter %} offence-browse-heading--with-sort{% elif offenceBrowseRestartSearch %} offence-browse-heading--with-restart{% endif %}{% if not offenceBrowseSortFilter and not offenceBrowseRestartSearch %} govuk-!-margin-bottom-6{% endif %}">
  <div class="offence-browse-heading__top assessment-layout__row assessment-layout__row--tight">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      {{ offenceBrowseTitle | default('Find an offence') }}{% if statusTag %}<span class="govuk-visually-hidden">, {{ statusTag }}</span>{% endif %}
    </h1>
    {% if offenceBrowseSortFilter or offenceBrowseRestartSearch or showReturnToOasysButton or statusTag %}
    <div class="offence-browse-heading__actions assessment-service-header__actions">
      {% if offenceBrowseSortFilter %}
      <div class="offence-browse-heading__sort">
        <div class="govuk-form-group offence-browse-heading__sort-field govuk-!-margin-bottom-0">
          <label class="govuk-label offence-browse-heading__sort-label" for="offence-sort-by">Filter by</label>
          <select class="govuk-select" id="offence-sort-by" name="offence-sort-by" data-offence-sort-by>
            <option value="">Select a category</option>
          </select>
        </div>
      </div>
      {% endif %}
      {% if offenceBrowseRestartSearch %}
      <a
        href="{{ offenceBrowseRestartHref or 'a1o3.html' }}"
        class="govuk-button govuk-button--secondary offence-browse-heading__restart"
        data-offence-restart-search
      >Restart search</a>
      {% endif %}
      {% if showReturnToOasysButton %}
      {% include returnToOasysButtonInclude | default("includes/02/return-to-oasys-button.html") %}
      {% elif statusTag %}
      <strong class="govuk-tag govuk-tag--grey assessment-layout__status-tag" aria-hidden="true">{{ statusTag }}</strong>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
