{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}
{# Nested under the Yes option on a5 #}

<h3 id="tiering-recent-offence-date" class="govuk-heading-s tiering-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  What is the date of {{ offenderFirstName }}'s most recent offence?
</h3>

<div class="govuk-form-group govuk-!-margin-bottom-0">
  <fieldset class="govuk-fieldset" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
      What is the date of {{ offenderFirstName }}'s most recent offence?
    </legend>
    <div class="govuk-date-input" id="recent-offence-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="recent-offence-date-day">Day</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="recent-offence-date-day" name="recent_offence_date_day" type="text" inputmode="numeric" autocomplete="off" data-date-part="day">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="recent-offence-date-month">Month</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="recent-offence-date-month" name="recent_offence_date_month" type="text" inputmode="numeric" autocomplete="off" data-date-part="month">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="recent-offence-date-year">Year</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="recent-offence-date-year" name="recent_offence_date_year" type="text" inputmode="numeric" autocomplete="off" data-date-part="year">
        </div>
      </div>
    </div>
  </fieldset>
</div>
