{# Set href, title, and hint before including #}
<li class="assessment-research-prototypes__item">
  {% if itemHeading %}
    <div class="assessment-research-prototypes__prototype-header">
      <div class="assessment-research-prototypes__prototype-header-text">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2 assessment-research-prototypes__item-heading">{{ itemHeading }}</h2>
        {% if hintHtml %}
          <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-2">{{ hintHtml | safe }}</p>
        {% elif hint %}
          <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-2">{{ hint }}</p>
        {% endif %}
      </div>
      {% if titleTagText or secondaryTitleTagText %}
        <div class="assessment-research-prototypes__title-tags">
          {% if secondaryTitleTagText %}
            <strong class="govuk-tag govuk-tag--{{ secondaryTitleTagColour | default('yellow') }} assessment-research-prototypes__title-tag-secondary">{{ secondaryTitleTagText }}</strong>
          {% endif %}
          {% if titleTagText %}
            <strong class="govuk-tag{% if titleTagColour %} govuk-tag--{{ titleTagColour }}{% else %} assessment-research-prototypes__title-tag{% endif %}">{{ titleTagText }}</strong>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% set tertiaryInOwnColumn = tertiaryGroupHeading and tertiaryTitle and (tertiaryHref or tertiaryInactive) %}
  <div class="assessment-research-prototypes__title-row">
    <div class="assessment-research-prototypes__title-groups{% if tertiaryInOwnColumn %} assessment-research-prototypes__title-groups--columns{% endif %}">
      <div class="assessment-research-prototypes__title-group">
        {% if linkGroupHeading %}
          {% if itemHeading %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2 assessment-research-prototypes__title-group-heading">{{ linkGroupHeading }}</h3>
          {% else %}
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2 assessment-research-prototypes__title-group-heading">{{ linkGroupHeading }}</h2>
          {% endif %}
        {% endif %}
        <ul class="govuk-list govuk-list--bullet assessment-research-prototypes__title-links">
          <li class="assessment-research-prototypes__title-link-item{% if titleRegularWeight %} assessment-research-prototypes__title-link-item--regular{% endif %}">
            {% if itemHeading %}
              <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="{{ href }}" class="govuk-link"{% if clearSessionOnStart %} data-clear-session-on-start{% if prototypeVersion %} data-prototype-version="{{ prototypeVersion }}"{% endif %}{% endif %}>{{ title }}</a>{% if titleHint %} <span class="govuk-hint">{{ titleHint }}</span>{% endif %}
              </h3>
            {% else %}
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="{{ href }}" class="govuk-link"{% if clearSessionOnStart %} data-clear-session-on-start{% if prototypeVersion %} data-prototype-version="{{ prototypeVersion }}"{% endif %}{% endif %}>{{ title }}</a>{% if titleHint %} <span class="govuk-hint">{{ titleHint }}</span>{% endif %}
              </h2>
            {% endif %}
          </li>
          {% if secondaryTitle and (secondaryHref or secondaryInactive) %}
            <li class="assessment-research-prototypes__title-link-item">
              {% if itemHeading %}
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2{% if secondaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if secondaryInactive %}
                    {{ secondaryTitle }}{% if secondaryTitleHint %} <span class="govuk-hint">{{ secondaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ secondaryHref }}" class="govuk-link"{% if secondaryClearSessionOnStart %} data-clear-session-on-start{% if secondaryPrototypeVersion %} data-prototype-version="{{ secondaryPrototypeVersion }}"{% endif %}{% endif %}>{{ secondaryTitle }}</a>{% if secondaryTitleHint %} <span class="govuk-hint">{{ secondaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h3>
              {% else %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2{% if secondaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if secondaryInactive %}
                    {{ secondaryTitle }}{% if secondaryTitleHint %} <span class="govuk-hint">{{ secondaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ secondaryHref }}" class="govuk-link"{% if secondaryClearSessionOnStart %} data-clear-session-on-start{% if secondaryPrototypeVersion %} data-prototype-version="{{ secondaryPrototypeVersion }}"{% endif %}{% endif %}>{{ secondaryTitle }}</a>{% if secondaryTitleHint %} <span class="govuk-hint">{{ secondaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h2>
              {% endif %}
            </li>
          {% endif %}
          {% if tertiaryTitle and (tertiaryHref or tertiaryInactive) and not tertiaryInOwnColumn %}
            <li class="assessment-research-prototypes__title-link-item">
              {% if itemHeading %}
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2{% if tertiaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if tertiaryInactive %}
                    {{ tertiaryTitle }}{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ tertiaryHref }}" class="govuk-link"{% if tertiaryClearSessionOnStart %} data-clear-session-on-start{% if tertiaryPrototypeVersion %} data-prototype-version="{{ tertiaryPrototypeVersion }}"{% endif %}{% endif %}>{{ tertiaryTitle }}</a>{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h3>
              {% else %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2{% if tertiaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if tertiaryInactive %}
                    {{ tertiaryTitle }}{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ tertiaryHref }}" class="govuk-link"{% if tertiaryClearSessionOnStart %} data-clear-session-on-start{% if tertiaryPrototypeVersion %} data-prototype-version="{{ tertiaryPrototypeVersion }}"{% endif %}{% endif %}>{{ tertiaryTitle }}</a>{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h2>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </div>
      {% if tertiaryInOwnColumn %}
        <div class="assessment-research-prototypes__title-group">
          {% if itemHeading %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2 assessment-research-prototypes__title-group-heading">{{ tertiaryGroupHeading }}</h3>
          {% else %}
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2 assessment-research-prototypes__title-group-heading">{{ tertiaryGroupHeading }}</h2>
          {% endif %}
          <ul class="govuk-list govuk-list--bullet assessment-research-prototypes__title-links">
            <li class="assessment-research-prototypes__title-link-item">
              {% if itemHeading %}
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2{% if tertiaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if tertiaryInactive %}
                    {{ tertiaryTitle }}{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ tertiaryHref }}" class="govuk-link"{% if tertiaryClearSessionOnStart %} data-clear-session-on-start{% if tertiaryPrototypeVersion %} data-prototype-version="{{ tertiaryPrototypeVersion }}"{% endif %}{% endif %}>{{ tertiaryTitle }}</a>{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h3>
              {% else %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2{% if tertiaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                  {% if tertiaryInactive %}
                    {{ tertiaryTitle }}{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% else %}
                    <a href="{{ tertiaryHref }}" class="govuk-link"{% if tertiaryClearSessionOnStart %} data-clear-session-on-start{% if tertiaryPrototypeVersion %} data-prototype-version="{{ tertiaryPrototypeVersion }}"{% endif %}{% endif %}>{{ tertiaryTitle }}</a>{% if tertiaryTitleHint %} <span class="govuk-hint">{{ tertiaryTitleHint }}</span>{% endif %}
                  {% endif %}
                </h2>
              {% endif %}
            </li>
            {% if quaternaryTitle and (quaternaryHref or quaternaryInactive) %}
              <li class="assessment-research-prototypes__title-link-item">
                {% if itemHeading %}
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2{% if quaternaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                    {% if quaternaryInactive %}
                      {{ quaternaryTitle }}{% if quaternaryTitleHint %} <span class="govuk-hint">{{ quaternaryTitleHint }}</span>{% endif %}
                    {% else %}
                      <a href="{{ quaternaryHref }}" class="govuk-link"{% if quaternaryClearSessionOnStart %} data-clear-session-on-start{% if quaternaryPrototypeVersion %} data-prototype-version="{{ quaternaryPrototypeVersion }}"{% endif %}{% endif %}>{{ quaternaryTitle }}</a>{% if quaternaryTitleHint %} <span class="govuk-hint">{{ quaternaryTitleHint }}</span>{% endif %}
                    {% endif %}
                  </h3>
                {% else %}
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-2{% if quaternaryInactive %} assessment-research-prototypes__title-text--inactive{% endif %}">
                    {% if quaternaryInactive %}
                      {{ quaternaryTitle }}{% if quaternaryTitleHint %} <span class="govuk-hint">{{ quaternaryTitleHint }}</span>{% endif %}
                    {% else %}
                      <a href="{{ quaternaryHref }}" class="govuk-link"{% if quaternaryClearSessionOnStart %} data-clear-session-on-start{% if quaternaryPrototypeVersion %} data-prototype-version="{{ quaternaryPrototypeVersion }}"{% endif %}{% endif %}>{{ quaternaryTitle }}</a>{% if quaternaryTitleHint %} <span class="govuk-hint">{{ quaternaryTitleHint }}</span>{% endif %}
                    {% endif %}
                  </h2>
                {% endif %}
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
    {% if not itemHeading and (titleTagText or secondaryTitleTagText) %}
      <div class="assessment-research-prototypes__title-tags">
        {% if secondaryTitleTagText %}
          <strong class="govuk-tag govuk-tag--{{ secondaryTitleTagColour | default('yellow') }} assessment-research-prototypes__title-tag-secondary">{{ secondaryTitleTagText }}</strong>
        {% endif %}
        {% if titleTagText %}
          <strong class="govuk-tag{% if titleTagColour %} govuk-tag--{{ titleTagColour }}{% else %} assessment-research-prototypes__title-tag{% endif %}">{{ titleTagText }}</strong>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if (hint and not itemHeading) or skipToEndHref %}
    <div class="assessment-research-prototypes__hint-row">
      {% if hint and not itemHeading %}
        <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-2">{{ hint }}</p>
      {% endif %}
      {% if skipToEndHref %}
        <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-2">
          <a class="govuk-link assessment-research-prototypes__skip-link" href="{{ skipToEndHref }}">
            <span class="assessment-research-prototypes__skip-icon" aria-hidden="true">
              <svg viewBox="0 0 20 20" width="14" height="14" focusable="false" aria-hidden="true">
                <path d="M4 10h10.2l-3.6-3.6 1.4-1.4L18 10l-6 6-1.4-1.4 3.6-3.6H4z" fill="currentColor"></path>
              </svg>
            </span>
            <span>Skip to the end</span>
          </a>
        </p>
      {% endif %}
    </div>
  {% endif %}
</li>
