{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

<h2 id="csrp-sexual-motivation" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-6 govuk-!-margin-bottom-2">
  Does {{ offenderFirstName }}'s current offence have a sexual motivation?
</h2>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      Does {{ offenderFirstName }}'s current offence have a sexual motivation?
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexual-motivation-yes" name="sexual_motivation" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="sexual-motivation-yes">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexual-motivation-no" name="sexual_motivation" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="sexual-motivation-no">No</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sexual-motivation-unknown" name="sexual_motivation" type="radio" value="unknown">
        <label class="govuk-label govuk-radios__label" for="sexual-motivation-unknown">Unknown</label>
      </div>
    </div>
  </fieldset>
</div>

<h2 id="csrp-stranger-contact" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  Does {{ offenderFirstName }}'s current offence involve actual or attempted direct contact against a victim who was a stranger?
</h2>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      Does {{ offenderFirstName }}'s current offence involve actual or attempted direct contact against a victim who was a stranger?
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stranger-contact-yes" name="stranger_contact" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="stranger-contact-yes">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stranger-contact-no" name="stranger_contact" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="stranger-contact-no">No</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stranger-contact-unknown" name="stranger_contact" type="radio" value="unknown">
        <label class="govuk-label govuk-radios__label" for="stranger-contact-unknown">Unknown</label>
      </div>
    </div>
  </fieldset>
</div>

<h2 id="csrp-sexual-sanction-date" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  What is the date of {{ offenderFirstName }}'s most recent sanction involving a sexual or sexually motivated offence?
</h2>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="sexual-sanction-date-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
      What is the date of {{ offenderFirstName }}'s most recent sanction involving a sexual or sexually motivated offence?
    </legend>
    <div id="sexual-sanction-date-hint" class="govuk-hint">
      For example, 27 3 2024
    </div>
    <div class="govuk-date-input" id="sexual-sanction-date" data-autofill-date>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="sexual-sanction-date-day">Day</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sexual-sanction-date-day" name="sexual_sanction_date_day" type="text" inputmode="numeric" autocomplete="off" data-date-part="day">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="sexual-sanction-date-month">Month</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sexual-sanction-date-month" name="sexual_sanction_date_month" type="text" inputmode="numeric" autocomplete="off" data-date-part="month">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="sexual-sanction-date-year">Year</label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sexual-sanction-date-year" name="sexual_sanction_date_year" type="text" inputmode="numeric" autocomplete="off" data-date-part="year">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<h2 id="csrp-contact-adult-sanctions" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  How many sanctions does {{ offenderFirstName }} have for contact adult sexual or sexually motivated offences?
</h2>

<p id="contact-adult-sanctions-hint" class="govuk-hint govuk-!-margin-bottom-4">
  Include their current offence.
</p>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <label class="govuk-label govuk-visually-hidden" for="contact-adult-sanctions">
    How many sanctions does {{ offenderFirstName }} have for contact adult sexual or sexually motivated offences?
  </label>
  <input
    class="govuk-input govuk-input--width-4"
    id="contact-adult-sanctions"
    name="contact_adult_sanctions"
    type="text"
    inputmode="numeric"
    autocomplete="off"
    aria-describedby="contact-adult-sanctions-hint"
  >
</div>

<h2 id="csrp-contact-child-sanctions" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  How many sanctions does {{ offenderFirstName }} have for direct contact child sexual or sexually motivated offences?
</h2>

<p id="contact-child-sanctions-hint" class="govuk-hint govuk-!-margin-bottom-4">
  Include their current offence.
</p>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <label class="govuk-label govuk-visually-hidden" for="contact-child-sanctions">
    How many sanctions does {{ offenderFirstName }} have for direct contact child sexual or sexually motivated offences?
  </label>
  <input
    class="govuk-input govuk-input--width-4"
    id="contact-child-sanctions"
    name="contact_child_sanctions"
    type="text"
    inputmode="numeric"
    autocomplete="off"
    aria-describedby="contact-child-sanctions-hint"
  >
</div>

<h2 id="csrp-indirect-child-sanctions" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  How many sanctions does {{ offenderFirstName }} have for indecent child image or indirect contact child sexual or sexually motivated offences?
</h2>

<p id="indirect-child-sanctions-hint" class="govuk-hint govuk-!-margin-bottom-4">
  Include their current offence.
</p>

<div class="govuk-form-group govuk-!-margin-bottom-8">
  <label class="govuk-label govuk-visually-hidden" for="indirect-child-sanctions">
    How many sanctions does {{ offenderFirstName }} have for indecent child image or indirect contact child sexual or sexually motivated offences?
  </label>
  <input
    class="govuk-input govuk-input--width-4"
    id="indirect-child-sanctions"
    name="indirect_child_sanctions"
    type="text"
    inputmode="numeric"
    autocomplete="off"
    aria-describedby="indirect-child-sanctions-hint"
  >
</div>

<h2 id="csrp-non-contact-sanctions" class="govuk-heading-m csrp-question-anchor govuk-!-margin-top-0 govuk-!-margin-bottom-2">
  How many sanctions does {{ offenderFirstName }} have for other non-contact sexual or sexually motivated offences?
</h2>

<p id="non-contact-sanctions-hint" class="govuk-hint govuk-!-margin-bottom-4">
  Include their current offence.
</p>

<div class="govuk-form-group">
  <label class="govuk-label govuk-visually-hidden" for="non-contact-sanctions">
    How many sanctions does {{ offenderFirstName }} have for other non-contact sexual or sexually motivated offences?
  </label>
  <input
    class="govuk-input govuk-input--width-4"
    id="non-contact-sanctions"
    name="non_contact_sanctions"
    type="text"
    inputmode="numeric"
    autocomplete="off"
    aria-describedby="non-contact-sanctions-hint"
  >
</div>
