{% extends "layouts/assessment-proto-dev.html" %}

{% set offenceBrowseErrorSummary = true %}
{% set offenderFirstName = "Alex" %}
{% set pageName = "Search results" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set hideJourneyServiceHeader = true %}
{% set hideOffenderViewAnswers = true %}
{% set compactPageHeader = true %}
{% set backLinkHref = 'a2b.html' %}

{% set afterJourneyHeaderHtml %}
<div class="offence-search-results-heading assessment-layout__section assessment-layout__section--compact govuk-!-margin-bottom-6">
  <div class="offence-search-results-heading__row assessment-layout__row assessment-layout__row--tight">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0 offence-search-results-heading__title">
      Search results for ‘<span data-offence-search-query></span>’
    </h1>
    <div class="offence-search-results-heading__actions assessment-service-header__actions">
      <a
        href="a2b.html"
        class="govuk-button govuk-button--secondary offence-search-results-heading__restart"
        data-offence-restart-search
      >Restart search</a>
      {% include "includes/dev/return-to-oasys-button.html" %}
    </div>
  </div>
  <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-offence-search-count></p>
</div>
{% endset %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<form id="predictors-a1os-form" class="govuk-!-margin-top-3" novalidate>

  {% include "includes/offence-browse-form-open.html" %}

  <div class="offence-browse-accordions govuk-!-margin-bottom-6" data-offence-accordions>
    <p class="govuk-body">Loading offences…</p>
  </div>

  <div data-offence-pagination hidden></div>

  {% include "includes/offence-browse-form-footer.html" %}

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
