{% extends "layouts/assessment-proto-dev.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Offending history" %}
{% set activeSection = "section-1" %}
{% set pageHeading = "Offending history" %}
{% set statusTag = "Incomplete" %}
{% set backLinkHref = "a1.html" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-sanction-inset-slot="header" hidden></div>

{% include "includes/assessment-question-header.html" %}

<form id="tiering-a2-form" novalidate data-offender-first-name="{{ offenderFirstName }}">

  <div data-sanction-inset-slot="form">
    {% include "includes/dev/sanction-definition-inset.html" %}
  </div>

  {% include "includes/dev/offending-history-questions.html" %}

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
