{% extends "layouts/assessment-proto-dev.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Current offence and offending history" %}
{% set activeSection = "section-1" %}
{% set pageHeading = "Current offence and offending history" %}
{% set statusTag = "Incomplete" %}
{% set returnToOasysButtonInclude = "includes/dev/a2-layout-toggle-to-a2.html" %}
{% set showCurrentOffenceWarning = true %}
{% set backLinkHref = "/" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div id="predictors-a1-error-summary" class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" hidden>
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body"></div>
  </div>
</div>

{% include "includes/assessment-question-header.html" %}

<form id="predictors-a2b-form" novalidate data-offender-first-name="{{ offenderFirstName }}" data-a1-offence-display-default="table">

  <div class="a2b-current-offence">
    <h2 class="govuk-heading-m">Current offence</h2>

    <div class="govuk-inset-text">
      This information comes from NDelius.
    </div>

    {% include "includes/a1-current-offence-questions.html" %}
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-6">

  <h2 class="govuk-heading-m govuk-!-margin-top-0">Offending history</h2>

  {% include "includes/dev/sanction-definition-inset.html" %}

  {% include "includes/dev/offending-history-questions.html" %}

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
