{% extends "layouts/assessment-proto-dev.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Alcohol use" %}
{% set pageHeadingHtml = "Has " ~ offenderFirstName ~ " ever drunk alcohol?" %}
{% set pageHeadingId = "predictors-alcohol-use" %}
{% set pageHeadingClass = "predictors-question-anchor" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set backLinkHref = "b3.html" %}
{% set backLinkId = "predictors-b5-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<form id="predictors-b5-form" novalidate>
  <div class="govuk-form-group govuk-!-margin-top-0">
    <fieldset class="govuk-fieldset">
      {% if questionLegendAsHeading and pageHeadingHtml %}
        {% include "includes/assessment-question-legend-heading.html" %}
      {% else %}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
        Has {{ offenderFirstName }} ever drunk alcohol?
      </legend>
      {% endif %}
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-yes-in-last-3-months" name="alcohol_use" type="radio" value="yes-in-last-3-months">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-yes-in-last-3-months">Yes, including in the last 3 months</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-yes-not-in-last-3-months" name="alcohol_use" type="radio" value="yes-not-in-last-3-months">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-yes-not-in-last-3-months">Yes, but not in the last 3 months</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-no" name="alcohol_use" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-no">No</label>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-unknown" name="alcohol_use" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
