{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [] if sanIsolated else [
      {
        href: "/san-research/accessibility.html",
        text: "Accessibility statement"
      }
    ],
    visuallyHiddenTitle: "Support links"
  }
}) }}
