{% extends "layouts/assessment-san-research.html" %}

{% set pageName = "Alcohol use" %}
{% set sanHeading = "Alcohol use" %}
{% set sanSection = "alcohol" %}
{% set backLinkHref = "alcohol.html" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san-research/content-header.html" %}

<form id="san-alcohol-before-form" novalidate data-al-page="before">
  <div class="govuk-form-group" data-san-error-group="alcohol-evidence" data-al-evidence-group>
    <fieldset class="govuk-fieldset" id="alcohol-evidence">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Has Alex shown evidence of binge drinking or excessive alcohol use in the last 6 months?</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-evidence-none" name="alcohol_evidence" type="radio" value="none">
          <label class="govuk-label govuk-radios__label" for="alcohol-evidence-none">No evidence of binge drinking or excessive alcohol use</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-evidence-some" name="alcohol_evidence" type="radio" value="some" aria-describedby="alcohol-evidence-some-hint">
          <label class="govuk-label govuk-radios__label" for="alcohol-evidence-some">Some evidence of binge drinking or excessive alcohol use</label>
          <div id="alcohol-evidence-some-hint" class="govuk-hint govuk-radios__hint">There is a pattern of alcohol use but has not caused any serious problems.</div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-evidence-detrimental" name="alcohol_evidence" type="radio" value="detrimental" aria-describedby="alcohol-evidence-detrimental-hint">
          <label class="govuk-label govuk-radios__label" for="alcohol-evidence-detrimental">Evidence of binge drinking or excessive alcohol use</label>
          <div id="alcohol-evidence-detrimental-hint" class="govuk-hint govuk-radios__hint">There is a detrimental effect on other areas of their life and is often directly related to offending.</div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="san-question" data-al-recent-follow-on hidden>
    {% include "includes/san-research/alcohol-background-questions.html" %}
  </div>

  <div data-al-custody-section>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Alcohol use in custody</h2>

  <div class="govuk-form-group" data-san-error-group="alcohol-custody">
    <fieldset class="govuk-fieldset" id="alcohol-custody">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Is there evidence Alex has been drinking alcohol in custody?</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-custody-yes" name="alcohol_custody" type="radio" value="yes" data-aria-controls="conditional-alcohol-custody-yes">
          <label class="govuk-label govuk-radios__label" for="alcohol-custody-yes">Yes</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-alcohol-custody-yes">
          <div class="govuk-form-group" data-san-error-group="alcohol-custody-yes-details">
            <label class="govuk-label" for="alcohol-custody-yes-details">Give details</label>
            <textarea class="govuk-textarea" id="alcohol-custody-yes-details" name="alcohol_custody_yes_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="alcohol-custody-yes-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-custody-no" name="alcohol_custody" type="radio" value="no" data-aria-controls="conditional-alcohol-custody-no">
          <label class="govuk-label govuk-radios__label" for="alcohol-custody-no">No</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-alcohol-custody-no">
          <div class="govuk-form-group">
            <label class="govuk-label" for="alcohol-custody-no-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="alcohol-custody-no-details" name="alcohol_custody_no_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="alcohol-custody-no-details">You have 2,000 characters remaining</div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
