{% extends "layouts/assessment-san-research.html" %}

{% set pageName = "Alcohol use" %}
{% set sanCaption = "Alcohol use" %}
{% set sanSection = "alcohol" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san-research/content-header.html" %}

<form id="san-alcohol-use-form" novalidate data-al-page="use">
  <div class="govuk-form-group" data-san-error-group="alcohol-use">
    <fieldset class="govuk-fieldset" id="alcohol-use" aria-describedby="alcohol-use-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Is there evidence that Alex has any current issues with alcohol?</h1>
      </legend>
      <div id="alcohol-use-hint" class="govuk-hint">
        Consider the frequency and amount of alcohol consumed, and whether alcohol is having a negative impact on health, relationships, finances, daily life or offending behaviour.
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-significant" name="alcohol_use" type="radio" value="significant">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-significant">Yes, significant issues</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-some" name="alcohol_use" type="radio" value="some">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-some">Yes, some issues</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-none" name="alcohol_use" type="radio" value="none">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-none">No current issues</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="alcohol-use-never" name="alcohol_use" type="radio" value="never">
          <label class="govuk-label govuk-radios__label" for="alcohol-use-never">They have never drunk alcohol</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
