{% extends "layouts/assessment-san-research.html" %}

{% set pageName = "Drug use" %}
{% set sanCaption = "Drug use" %}
{% set sanSection = "drugs" %}
{% set backLinkHref = "drugs-before.html" %}
{% set helpQuestion = "Does anything help Alex to stop or reduce their drug use?" %}
{% set helpHint = "Note any treatment or lifestyle changes that help them." %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san-research/content-header.html" %}

<form id="san-drugs-help-form" novalidate data-du-page="help" data-du-help-version="recent">
  {% include "includes/san-research/drugs-help-question.html" %}

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
