{% extends "layouts/assessment-san-research.html" %}

{% set pageName = "Employment and education" %}
{% set sanCaption = "Employment and education" %}
{% set sanSection = "employment" %}
{% set backLinkHref = "employment-details.html" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san-research/content-header.html" %}

<form id="san-employment-difficulty-form" novalidate data-ee-page="difficulty">
  {% set difficultyAreas = [
    { id: "reading", label: "reading" },
    { id: "writing", label: "writing" },
    { id: "numeracy", label: "numeracy" }
  ] %}
  {% for area in difficultyAreas %}
  <div class="govuk-form-group" data-ee-difficulty="{{ area.id }}" data-san-error-group="difficulty-{{ area.id }}" hidden>
    <fieldset class="govuk-fieldset" id="difficulty-{{ area.id }}-level">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">How much difficulty does Alex have with {{ area.label }}?</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="difficulty-{{ area.id }}-significant" name="difficulty_{{ area.id }}" type="radio" value="significant">
          <label class="govuk-label govuk-radios__label" for="difficulty-{{ area.id }}-significant">Significant difficulties</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="difficulty-{{ area.id }}-some" name="difficulty_{{ area.id }}" type="radio" value="some">
          <label class="govuk-label govuk-radios__label" for="difficulty-{{ area.id }}-some">Some difficulties</label>
        </div>
      </div>
    </fieldset>
  </div>
  {% endfor %}

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
