{% extends "layouts/assessment-san-research.html" %}

{% set pageName = "Finances" %}
{% set sanHeading = "Finances" %}
{% set sanSection = "finances" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san-research/content-header.html" %}

<form id="san-finances-form" novalidate data-fi-page="questions">
  <div class="govuk-form-group san-question" data-san-error-group="income">
    <fieldset class="govuk-fieldset" id="income" aria-describedby="income-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Where does Alex currently get their money from??</h2>
      </legend>
      <div id="income-hint" class="govuk-hint">Select all that apply.</div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-carers" name="income" type="checkbox" value="carers">
          <label class="govuk-label govuk-checkboxes__label" for="income-carers">Carer's Allowance</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-disability" name="income" type="checkbox" value="disability" aria-describedby="income-disability-hint">
          <label class="govuk-label govuk-checkboxes__label" for="income-disability">Disability benefits</label>
          <div id="income-disability-hint" class="govuk-hint govuk-checkboxes__hint">For example, Personal Independence Payment (PIP, also known as Disability Living Allowance) or Severe Disablement Allowance.</div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-employment" name="income" type="checkbox" value="employment">
          <label class="govuk-label govuk-checkboxes__label" for="income-employment">Employment</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-family" name="income" type="checkbox" value="family">
          <label class="govuk-label govuk-checkboxes__label" for="income-family">Family or friends</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-offending" name="income" type="checkbox" value="offending">
          <label class="govuk-label govuk-checkboxes__label" for="income-offending">Offending</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-pension" name="income" type="checkbox" value="pension">
          <label class="govuk-label govuk-checkboxes__label" for="income-pension">Pension</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-student-loan" name="income" type="checkbox" value="student-loan">
          <label class="govuk-label govuk-checkboxes__label" for="income-student-loan">Student loan</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-undeclared" name="income" type="checkbox" value="undeclared">
          <label class="govuk-label govuk-checkboxes__label" for="income-undeclared">Undeclared (includes cash in hand)</label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-work-benefits" name="income" type="checkbox" value="work-benefits" aria-describedby="income-work-benefits-hint">
          <label class="govuk-label govuk-checkboxes__label" for="income-work-benefits">Work related benefits</label>
          <div id="income-work-benefits-hint" class="govuk-hint govuk-checkboxes__hint">For example, Universal Credit or Jobseeker's Allowance (JSA).</div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-other" name="income" type="checkbox" value="other" data-aria-controls="conditional-income-other">
          <label class="govuk-label govuk-checkboxes__label" for="income-other">Other</label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-income-other">
          <div class="govuk-form-group">
            <label class="govuk-label" for="income-other-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="income-other-details" name="income_other_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="income-other-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        <div class="govuk-checkboxes__divider">or</div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="income-none" name="income" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="income-none">No money</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
