<h4 class="govuk-heading-s govuk-!-margin-top-0">Indecent child image offences</h4>

<p class="govuk-body govuk-!-margin-bottom-2">Count sanctions for the following offences:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>taking, permitting to be taken, or making, distributing, or publishing indecent photographs or pseudo photographs (for example, AI generated) of children</li>
  <li>possession of an indecent photograph of a child</li>
  <li>possessing prohibited images of children</li>
</ul>

<h4 class="govuk-heading-s">Indirect child contact offences</h4>

<p class="govuk-body govuk-!-margin-bottom-2">Count sanctions for the following offences:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>causing or inciting a child to engage in sexual activity</li>
  <li>engaging in sexual activity in the presence of a child under 13 (offender aged 18 or over)</li>
  <li>causing a child under 13 to watch a sexual act (offender aged 18 or over)</li>
  <li>meeting a child following sexual grooming</li>
  <li>sexual communication with a child</li>
</ul>

<p class="govuk-body">These can include acts committed in person or online.</p>

<p class="govuk-body govuk-!-margin-bottom-0">Do not count breach offences.</p>
