{% extends "layouts/assessment-proto3.html" %}

{% set hideJourneyServiceHeader = true %}
{% set hideOffenderHeader = true %}
{% set hideServiceNavigation = true %}
{% set showReturnToOasysButton = false %}
{% set backLinkHref = "javascript:history.back()" %}
{% set pageHeading = "Cookies policy" %}
{% set pageName = "Cookies policy" %}

{% block pageTitle %}Cookies policy{% endblock %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

{% include "includes/policy-page-content.html" %}

{% include "includes/assessment-page-close.html" %}

{% endblock %}
