{% extends "layouts/main.html" %}

{% set pageName = "Accommodation – type before custody" %}
{% set activeSection = "accommodation" %}
{% set sectionTitle = "Accommodation" %}
{% set questionTitle = "What type of accommodation did Alex have before custody?" %}
{% set statusTag = "Incomplete" %}

{% block content %}

{% include "includes/assessment-page-open.html" %}

<div id="accommodation-a1-error-summary" class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" hidden>
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body"></div>
  </div>
</div>

{% include "includes/assessment-question-header.html" %}

<form id="accommodation-a1-form" novalidate>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
        {{ questionTitle }}
      </legend>

      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="accommodation_settled" name="accommodation" type="radio" value="Settled" data-aria-controls="settled-conditional">
          <label class="govuk-label govuk-radios__label" for="accommodation_settled">Settled</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="settled-conditional">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Settled accommodation type</legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_homeowner" name="settled_type" type="radio" value="Homeowner">
                <label class="govuk-label govuk-radios__label" for="settled_homeowner">Homeowner</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_friends_family" name="settled_type" type="radio" value="Living with friends or family">
                <label class="govuk-label govuk-radios__label" for="settled_friends_family">Living with friends or family</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_renting_private" name="settled_type" type="radio" value="Renting privately">
                <label class="govuk-label govuk-radios__label" for="settled_renting_private">Renting privately</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_renting_social" name="settled_type" type="radio" value="Renting from social, local authority or other">
                <label class="govuk-label govuk-radios__label" for="settled_renting_social">Renting from social, local authority or other</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_healthcare" name="settled_type" type="radio" value="Residential healthcare">
                <label class="govuk-label govuk-radios__label" for="settled_healthcare">Residential healthcare</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_supported" name="settled_type" type="radio" value="Supported accommodation">
                <label class="govuk-label govuk-radios__label" for="settled_supported">Supported accommodation</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="settled_unknown" name="settled_type" type="radio" value="Unknown" data-aria-controls="settled-unknown-details-conditional">
                <label class="govuk-label govuk-radios__label" for="settled_unknown">Unknown</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="settled-unknown-details-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="settled_unknown_details">Give details (optional)</label>
                  <div class="govuk-hint">You can enter up to 2,000 characters</div>
                  <textarea class="govuk-textarea" id="settled_unknown_details" name="settled_unknown_details" rows="3"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="accommodation_temporary" name="accommodation" type="radio" value="Temporary" data-aria-controls="temporary-conditional">
          <label class="govuk-label govuk-radios__label" for="accommodation_temporary">Temporary</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="temporary-conditional">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Temporary accommodation type</legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_approved_premises" name="temporary_type" type="radio" value="Approved premises">
                <label class="govuk-label govuk-radios__label" for="temporary_approved_premises">Approved premises</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_cas2" name="temporary_type" type="radio" value="Community Accommodation Service Tier 2 (CAS2)">
                <label class="govuk-label govuk-radios__label" for="temporary_cas2">Community Accommodation Service Tier 2 (CAS2)</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_cas3" name="temporary_type" type="radio" value="Community Accommodation Service Tier 3 (CAS3)">
                <label class="govuk-label govuk-radios__label" for="temporary_cas3">Community Accommodation Service Tier 3 (CAS3)</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_immigration" name="temporary_type" type="radio" value="Immigration accommodation" aria-describedby="temporary_immigration-hint">
                <label class="govuk-label govuk-radios__label" for="temporary_immigration">Immigration accommodation</label>
                <div id="temporary_immigration-hint" class="govuk-hint govuk-radios__hint">
                  <p class="govuk-!-margin-bottom-2">This includes:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                    <li>Schedule 10 – Home Office provides accommodation under the Immigration Act 2016</li>
                    <li>Section 4 – Home Office provides accommodation for those on immigration bail, prior to the Immigration Act 2016</li>
                  </ul>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_short_term" name="temporary_type" type="radio" value="Short term accommodation" aria-describedby="temporary_short_term-hint">
                <label class="govuk-label govuk-radios__label" for="temporary_short_term">Short term accommodation</label>
                <div id="temporary_short_term-hint" class="govuk-hint govuk-radios__hint">Includes living with friends or family, or in a hotel</div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="temporary_unknown" name="temporary_type" type="radio" value="Unknown" data-aria-controls="temporary-unknown-details-conditional">
                <label class="govuk-label govuk-radios__label" for="temporary_unknown">Unknown</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="temporary-unknown-details-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="temporary_unknown_details">Give details (optional)</label>
                  <div class="govuk-hint">You can enter up to 2,000 characters</div>
                  <textarea class="govuk-textarea" id="temporary_unknown_details" name="temporary_unknown_details" rows="3"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="accommodation_none" name="accommodation" type="radio" value="No accommodation" data-aria-controls="none-conditional">
          <label class="govuk-label govuk-radios__label" for="accommodation_none">No accommodation</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="none-conditional">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">No accommodation type</legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_campsite" name="none_type" type="radio" value="Campsite">
                <label class="govuk-label govuk-radios__label" for="none_campsite">Campsite</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_emergency_hostel" name="none_type" type="radio" value="Emergency hostel">
                <label class="govuk-label govuk-radios__label" for="none_emergency_hostel">Emergency hostel</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_homeless" name="none_type" type="radio" value="Homeless">
                <label class="govuk-label govuk-radios__label" for="none_homeless">Homeless <span class="govuk-hint govuk-!-display-inline">(includes squatting)</span></label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_rough_sleeping" name="none_type" type="radio" value="Rough sleeping">
                <label class="govuk-label govuk-radios__label" for="none_rough_sleeping">Rough sleeping</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_shelter" name="none_type" type="radio" value="Shelter">
                <label class="govuk-label govuk-radios__label" for="none_shelter">Shelter</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="none_unknown" name="none_type" type="radio" value="Unknown" data-aria-controls="none-unknown-details-conditional">
                <label class="govuk-label govuk-radios__label" for="none_unknown">Unknown</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="none-unknown-details-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="none_unknown_details">Give details (optional)</label>
                  <div class="govuk-hint">You can enter up to 2,000 characters</div>
                  <textarea class="govuk-textarea" id="none_unknown_details" name="none_unknown_details" rows="3"></textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
