<p class="govuk-body">Count sanctions if victims were aged 16 or over, unless the offence specifically refers to a victim aged ‘16 or 17’ or ‘13 to 17’. In these cases, a victim aged 16 or 17 is considered a child.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Count the following offences:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>rape</li>
  <li>buggery or attempted buggery</li>
  <li>sexual assault on a male</li>
  <li>sexual assault on a female</li>
  <li>causing a female to engage in sexual activity without consent</li>
  <li>sex with an adult relative</li>
  <li>abduction (under the Sexual Offences 1956 Act)</li>
  <li>sexual activity with someone with a mental disorder or learning disability, including ‘breach of trust’ offences</li>
  <li>trafficking for sexual exploitation</li>
  <li>administering a substance with intent</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-2">If an offence is not listed above, it should be counted as a contact adult sexually motivated offence if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you have explicit evidence that it has a sexual motivation</li>
  <li>there is physical contact with an adult victim</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-2">Do not count:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
  <li>offences related to paying for or being paid for sex</li>
  <li>breach offences</li>
</ul>
