{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

{% set misusedDrugTypes = [
  { "id": "amphetamines", "label": "Amphetamines" },
  { "id": "benzodiazepines", "label": "Benzodiazepines" },
  { "id": "cannabis", "label": "Cannabis" },
  { "id": "cocaine", "label": "Cocaine hydrochloride" },
  { "id": "crack-cocaine", "label": "Crack or cocaine" },
  { "id": "ecstasy", "label": "Ecstasy (also known as MDMA)" },
  { "id": "hallucinogens", "label": "Hallucinogens" },
  { "id": "heroin", "label": "Heroin" },
  { "id": "ketamine", "label": "Ketamine" },
  { "id": "methadone", "label": "Methadone (not prescribed)" },
  { "id": "prescribed-drugs", "label": "Misused prescribed drugs" },
  { "id": "other-opiates", "label": "Other opiates" },
  { "id": "solvents", "label": "Solvents (including gases and glues)" },
  { "id": "spice", "label": "Spice" },
  { "id": "steroids", "label": "Steroids" },
  { "id": "other", "label": "Other", "hasNameField": true }
] %}

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
  {% for drug in misusedDrugTypes %}
  <div class="govuk-checkboxes__item">
    <input
      class="govuk-checkboxes__input"
      id="drugs-{{ drug.id }}"
      name="drugs_misused_types"
      type="checkbox"
      value="{{ drug.id }}"
      data-aria-controls="conditional-drugs-{{ drug.id }}"
    >
    <label class="govuk-label govuk-checkboxes__label" for="drugs-{{ drug.id }}">
      {{ drug.label }}
    </label>
  </div>
  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-drugs-{{ drug.id }}">
    {% if drug.hasNameField %}
    <div class="govuk-form-group govuk-!-margin-bottom-4">
      <label class="govuk-label" for="other-drug-name">Add drug name</label>
      <input class="govuk-input govuk-input--width-20" id="other-drug-name" name="other_drug_name" type="text" autocomplete="off">
    </div>
    {% endif %}
    <fieldset class="govuk-fieldset govuk-!-margin-bottom-0">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
        When did {{ offenderFirstName }} last use {{ drug.label | lower }}?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ drug.id }}-period-last-6-months" name="{{ drug.id }}_period" type="radio" value="last-6-months">
          <label class="govuk-label govuk-radios__label" for="{{ drug.id }}-period-last-6-months">Used in the last 6 months</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ drug.id }}-period-more-than-6-months" name="{{ drug.id }}_period" type="radio" value="more-than-6-months">
          <label class="govuk-label govuk-radios__label" for="{{ drug.id }}-period-more-than-6-months">Used more than 6 months ago</label>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ drug.id }}-period-unknown" name="{{ drug.id }}_period" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="{{ drug.id }}-period-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>
  {% endfor %}
</div>
