<footer class="probation-common-footer govuk-!-display-none-print" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="probation-common-footer__support-links">
          <h2 class="govuk-visually-hidden">Support links</h2>

          <ul class="probation-common-footer__inline-list">
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="/03/accessibility.html">Accessibility</a>
            </li>
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="/03/cookies-policy.html">Cookies policy</a>
            </li>
            <li class="probation-common-footer__inline-list-item">
              <a class="probation-common-footer__link" href="/03/privacy-policy.html">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="probation-common-footer__crown">
          {% include "includes/03/pds-footer-crown.njk" %}
        </div>
      </div>
    </div>
  </div>
</footer>
