<div class="govuk-checkboxes" data-module="govuk-checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-assaulted-staff" name="rosh_behaviours" type="checkbox" value="assaulted-staff">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-assaulted-staff">Assaulted or threatened staff</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-assaulted-others" name="rosh_behaviours" type="checkbox" value="assaulted-others">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-assaulted-others">Assaulted or threatened others</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-domestic-abuse" name="rosh_behaviours" type="checkbox" value="domestic-abuse">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-domestic-abuse">Domestic abuse towards a partner or other member of their family</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-offence-not-complying-medication" name="rosh_behaviours" type="checkbox" value="offence-not-complying-medication">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-offence-not-complying-medication">Committed a serious offence while not complying with medication</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-hate-based" name="rosh_behaviours" type="checkbox" value="hate-based">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-hate-based">Hate-based behaviour</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-high-risk-previous" name="rosh_behaviours" type="checkbox" value="high-risk-previous">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-high-risk-previous">Assessed as high risk of serious harm on previous occasion</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-section-41" name="rosh_behaviours" type="checkbox" value="section-41">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-section-41">Been a conditionally-charged patient subject to a restriction order under Section 41 MHA 1983</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-stalking" name="rosh_behaviours" type="checkbox" value="stalking">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-stalking">Stalking</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-obsessive-behaviour" name="rosh_behaviours" type="checkbox" value="obsessive-behaviour">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-obsessive-behaviour">Obsessive behaviour linked to offending</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-offence-related-custody" name="rosh_behaviours" type="checkbox" value="offence-related-custody">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-offence-related-custody">Displayed offence-related behaviour in custody</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-inappropriate-custody" name="rosh_behaviours" type="checkbox" value="inappropriate-custody">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-inappropriate-custody">Displayed inappropriate behaviour towards custodial staff, visitors or prisoners</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-custody-associations" name="rosh_behaviours" type="checkbox" value="custody-associations">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-custody-associations">Established links or associations while in custody that increase risk of serious harm</label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-group-cse" name="rosh_behaviours" type="checkbox" value="group-cse">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-group-cse">Perpetrated any behaviours relating to group-based child sexual exploitation</label>
  </div>
  <div class="govuk-checkboxes__divider">or</div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="rosh-behaviour-none" name="rosh_behaviours" type="checkbox" value="none" data-behaviour="exclusive">
    <label class="govuk-label govuk-checkboxes__label" for="rosh-behaviour-none">None of these significant behaviours or events</label>
  </div>
</div>
