<p class="govuk-body govuk-!-margin-top-0">
  Only answer ‘yes’ if the current offence is classed as direct contact <strong>and</strong> the victim was a stranger.
</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2">How direct contact is defined</h3>

<p class="govuk-body">
  Direct contact is defined by there being actual or attempted direct contact with a live human being. Offences include rape and sexual assault.
</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2">How a stranger is defined</h3>

<p class="govuk-body govuk-!-margin-bottom-2">The victim counts as a stranger if either:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
  <li>the victim did not know the offender 24 hours before the offence</li>
  <li>the offender did not know the victim 24 hours before the offence</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-2">To ‘know’ a person, they must:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
  <li>have met the person face to face or on a video call</li>
  <li>have had a conversation with them face to face or on a video call</li>
  <li>be able to recognise the other person</li>
</ul>
