<p class="govuk-body">Consider:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>how and where they spend their time</li>
  <li>whether they spend a lot of time in situations that provide the opportunity to offend</li>
  <li>how well they recognise the places and activities they will need to avoid</li>
</ul>

<h3 class="govuk-heading-s">Engages in pro-social activities and understands the link to offending</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>will not knowingly mix with others with criminal behaviours or spend time in places where they congregate</li>
  <li>recognise which social factors contribute to their offending</li>
  <li>avoid situations that might provide an opportunity to offend</li>
</ul>
<p class="govuk-body">
  They may have placed themselves at risk in the past but there will be recent evidence of change (for example, change in associates or activities).
</p>

<h3 class="govuk-heading-s">Sometimes engages in activities linked to offending but recognises the link</h3>
<p class="govuk-body">
  Select this option if you feel that they recognise the link between their activities and their offending behaviour, but may minimise this or believe they do not have an alternative.
</p>

<h3 class="govuk-heading-s">Regularly engages in activities which encourage offending and is not aware or does not care about the link to offending</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>may not be aware or may not care about the link to offending</li>
  <li>constantly place themselves in situations that increase the risk of re-offending and choose to ignore this</li>
</ul>
