<p class="govuk-body">Consider:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>if they have a low tolerance for frustration, poor resolution conflict skills, and lose their temper regularly and easily</li>
  <li>whether they have a hidden disability, which may impact on communication and sometimes lead to frustration and loss of temper</li>
  <li>how well they deal with negative emotions and frustrating situations, which can often lead to acts of violence</li>
</ul>

<h3 class="govuk-heading-s">Yes, is able to manage their temper well</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>do not experience feelings of being totally out of control when angry</li>
  <li>recognise events and situations that irritate them and deal with them effectively</li>
  <li>do not become so angry that they have assaulted someone or damaged property</li>
</ul>

<h3 class="govuk-heading-s">No, easily loses their temper</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have a history of regular outbreaks of anger</li>
  <li>admit to losing their temper easily</li>
  <li>cause other people to be very wary of them</li>
  <li>assault others when angry or smash property</li>
  <li>describe a total loss of control when feeling angry</li>
  <li>have an inability to remain calm until they have expressed their anger</li>
  <li>frequently becoming angry under specific circumstances or when disinhibited by alcohol or drugs</li>
</ul>
<p class="govuk-body">
  A history of violent behaviour itself does not indicate issues with temper control. Many individuals use violence in a controlled instrumental way. Do not select this option if they describe themselves as angry but do not lose control.
</p>
