<p class="govuk-body">Consider:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>their attitude towards offending, anti-social behaviour, and criminality in general</li>
  <li>any beliefs that any criminal behaviour is normal and acceptable (for example, they may hold attitudes that support or condone violence towards partners, exhibited through overtly expressed opinions, or through justifications and minimisations of such behaviour)</li>
  <li>if they excuse the levels of offending in terms of wider general factors such as levels of unemployment, the government’s policies, or inequalities in society</li>
  <li>are they anti-authoritarian, dismissive of the judicial and law enforcement systems, such as the police, probation staff, prison staff, people who work in the courts, other agencies and organisations</li>
  <li>their attitude towards authority and whether this has been impacted by experiences of discrimination</li>
  <li>if they view those who abide by the law as being weak, inferior or foolish</li>
</ul>
<p class="govuk-body">
  Some people with an undiagnosed or unidentified condition (for example, learning disability or challenges, or Autism) might present with a more rigid way of thinking, which can easily be misinterpreted as unyielding and even anti-authoritarian.
</p>
<p class="govuk-body">Also consider if they make broad generalisations to justify criminal behaviour such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>‘everybody’s doing it’</li>
  <li>‘nobody got hurt’</li>
  <li>victims ‘only have themselves to blame’</li>
  <li>‘they were trying to get a rise out of me’</li>
  <li>‘I had no choice’</li>
</ul>

<h3 class="govuk-heading-s">Supports or excuses criminal behaviour or their pattern of behaviour and other evidence indicates this is an issue</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>express views favouring and excusing criminal behaviour regularly and with conviction, offering these views spontaneously during your contact with them</li>
  <li>show a great deal of antipathy towards the legal system and its agencies and strongly adhere to the views of a criminal sub-culture</li>
  <li>may not overtly state pro-criminal attitudes, but their pattern of behaviour or other evidence indicates this is an issue</li>
</ul>

<h3 class="govuk-heading-s">Does not support or excuse criminal behaviour</h3>
<p class="govuk-body">Select this option if you feel that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>there is no evidence that they ally themselves with a criminal sub-culture</li>
  <li>their views about law and order are generally positive</li>
  <li>they recognise that most people are law-abiding</li>
  <li>they would recognise and respect the rule of law in general even if they demonstrate some distortions and minimisation around their own offences</li>
</ul>

<h3 class="govuk-heading-s">Individuals convicted of sexual offences</h3>
<p class="govuk-body">
  You must be careful to avoid bias. People can commonly behave and act in opposition to their beliefs. This does not necessarily mean they have a generalised attitude that offending is acceptable; someone sexually offending does not automatically mean they believe that their behaviour was justified.
</p>
<p class="govuk-body">
  They may minimise some of their behaviour (by providing excuses or reasons, or minimising aspects) to make it less painful for them to deal with, and so that others are more likely to deem their acts as permissible, and them as morally redeemable people.
</p>

<h4 class="govuk-heading-s">Maintaining innocence</h4>
<p class="govuk-body">
  They may maintain their innocence to protect their relationships with non-offending family others, which could have a role in supporting desistence. But, for a small number of people, maintaining innocence might be part of a strategy to retain access to potential victims, and so might be a risk factor. It is important; therefore, for assessors to determine the purpose that maintaining innocence might serve for the individual.
</p>
<p class="govuk-body">
  Equally, maintaining innocence regarding their conviction does not necessarily mean the individual has pro-criminal attitudes. It may serve to protect their sense of identity and of being ‘someone who would not do those things’ (they do not believe the behaviour is right) which is indicated as important for supporting the desistance related change processes.
</p>

<h4 class="govuk-heading-s">Sharing true attitudes</h4>
<p class="govuk-body">
  Those with true attitudes that support sexual offending might in some cases find it difficult to contain them and so might share them. They may verbalise their views on the age of consent or their entitlement to sex. That is, if they have a partner, they may consider it their ‘right’ to have sex. Similarly, some may hold the belief that ‘as a man I am entitled to sex’.
</p>
<p class="govuk-body">
  Considering the environment that the individual grew up and was socialised may help you understand someone’s attitudes to sex, as opposed to making assumptions about beliefs based on gender. For example, you would not have to be male to hold the belief that ‘men deserve sex from women’. Others may not share them because voicing such views might lead to them receiving further sanctions, or they realise they may be challenged over.
</p>
<p class="govuk-body">
  Other evidence may come from observation of their discussion with other prisoners or residents about offence supportive beliefs or sayings. Any material collected during an investigation such as chat room transcripts and phone messages may also be useful. However, at the same time be mindful of the impact of peer influence, do they believe what they say/write, or do they offer it to fit in with peers? Where possible seek multiple sources and compare.
</p>
