<div
  class="sanction-definition-toggle"
  data-sanction-definition-toggle
  data-sanction-definition-mode="heading"
  tabindex="0"
  role="button"
  aria-pressed="true"
  title="Click to toggle sanction definition layout"
>
  <div class="govuk-inset-text sanction-definition-toggle__inset govuk-!-margin-top-0 govuk-!-margin-bottom-8" hidden>
    <p class="govuk-body govuk-!-margin-bottom-2">Someone gets a sanction if they:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
      <li>are convicted by a court and given a sentence (such as a fine, community order, discharge or prison)</li>
      <li>accept a formal caution from the police</li>
    </ul>
  </div>

  <div class="sanction-definition-toggle__heading govuk-!-margin-bottom-8">
    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-2">How a sanction is defined</h2>

    <p class="govuk-body govuk-!-margin-bottom-2">Someone gets a sanction if they:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
      <li>are convicted by a court and given a sentence (such as a fine, community order, discharge or prison)</li>
      <li>accept a formal caution from the police</li>
    </ul>
  </div>
</div>
