<div
  class="govuk-notification-banner govuk-notification-banner--success assessment-layout__section-complete-banner"
  role="alert"
  aria-labelledby="predictors-section-complete-success-banner-title"
  data-module="govuk-notification-banner"
  id="predictors-section-complete-success-banner"
  hidden
>
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="predictors-section-complete-success-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading {% if sectionCompleteSuccessBannerSecondaryLinkHref %}govuk-!-margin-bottom-2{% else %}govuk-!-margin-bottom-0{% endif %}">
      You have marked this section as complete
    </p>
    {% if sectionCompleteSuccessBannerSecondaryLinkHref and sectionCompleteSuccessBannerSecondaryLinkText %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      You can still make changes from the <a class="govuk-link" href="{{ sectionCompleteSuccessBannerSecondaryLinkHref }}">{{ sectionCompleteSuccessBannerSecondaryLinkText }}</a>.
    </p>
    {% endif %}
  </div>
</div>
