{# Requires offenderFirstName, e.g. {% set offenderFirstName = "Alex" %} #}

<h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-6">Sexual or sexually motivated offending</h2>

{% include "includes/02/sexual-offending-section-questions.html" %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

<h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-6">Direct contact sexual or sexually motivated offending</h2>

{% include "includes/02/direct-contact-questions.html" %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-9">

<h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-6">Images and indirect contact sexual or sexually motivated offending</h2>

{% include "includes/02/indirect-contact-questions.html" %}
