<p class="govuk-body">Impulsive people:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>prefer to act rather than plan</li>
  <li>do not reflect and often regret their actions later</li>
  <li>are prone to boredom and require a high degree of external stimulation</li>
  <li>may describe dangerous situations as exciting and are natural risk-takers</li>
</ul>

<h3 class="govuk-heading-s">Considers all aspects of a situation before acting on or making a decision</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>very rarely do anything without fully considering all the aspects of the situation</li>
  <li>take decision-making seriously</li>
  <li>are unlikely to take huge risks for small gains</li>
  <li>are cautious about exposing themselves to risk</li>
  <li>correctly identify possible risks in any situation</li>
</ul>

<h3 class="govuk-heading-s">Sometimes acts on impulse which causes problems</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>complain that they become bored easily</li>
  <li>have a short attention span</li>
  <li>equate acting quickly with being decisive and positive</li>
  <li>seek immediate gratification, which often leads to offending</li>
  <li>regret many of their actions later</li>
</ul>

<h3 class="govuk-heading-s">Acts on impulse which causes significant problems</h3>
<p class="govuk-body">Select this option if you feel that they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>claim that they ‘just react’</li>
  <li>are unable to explain their actions</li>
  <li>get into trouble because they do not think through the possible consequences of their actions</li>
  <li>crave excitement, which may lead to the use of drugs, dangerous driving or other reckless activities</li>
  <li>offend ‘on the spur of the moment’</li>
  <li>repeat the same mistakes because they fail to make the most of prior experience when making decisions</li>
</ul>
