{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Select an offence" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set hideSideNav = true %}
{% set hideJourneyServiceHeader = true %}
{% set hideOffenderViewAnswers = true %}
{% set compactPageHeader = true %}
{% set backLinkHref = 'a1.html' %}
{% set offenceBrowseToggleHref = 'a1o2.html' %}
{% set tieringTelemetryPage = "a1o" %}
{% set tieringTelemetryPageLabel = "Browse all offences" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/offence-browse-heading.html" %}

<form id="tiering-a1o-form" class="govuk-!-margin-top-3" novalidate>

  <table class="govuk-table offences-all-table govuk-!-margin-bottom-6">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
        Offences
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Offence name</th>
          <th scope="col" class="govuk-table__header">Code</th>
          <th scope="col" class="govuk-table__header offences-all-table__action-header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" data-offences-table-body>
        <tr>
          <td class="govuk-table__cell" colspan="3">Loading offences…</td>
        </tr>
      </tbody>
    </table>

  {% include "includes/offence-browse-form-footer.html" %}

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
