{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Find an offence" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set hideServiceNavigation = true %}
{% set hideJourneyServiceHeader = true %}
{% set hideOffenderViewAnswers = true %}
{% set compactPageHeader = true %}
{% set backLinkHref = 'a1.html' %}
{% set offenceBrowseToggleHref = 'a1o3.html' %}
{% set tieringTelemetryPage = "a1o2" %}
{% set tieringTelemetryPageLabel = "Browse offences by category" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/offence-browse-heading.html" %}

<form id="tiering-a1o2-form" class="govuk-!-margin-top-3" novalidate>

  <div id="tiering-a1o2-tabs" class="govuk-tabs offence-browse-tabs govuk-!-margin-bottom-6" data-module="govuk-tabs" data-offence-category-tabs>
    <h2 class="govuk-tabs__title">Offence categories</h2>
    <ul class="govuk-tabs__list" data-offence-tabs-list>
      <li class="govuk-tabs__list-item">
        <span class="govuk-tabs__tab">Loading categories…</span>
      </li>
    </ul>
    <div class="govuk-tabs__panel" data-offence-tabs-loading>
      <p class="govuk-body">Loading offences…</p>
    </div>
  </div>

  {% include "includes/offence-browse-form-footer.html" %}

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
