{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Find an offence" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set hideServiceNavigation = true %}
{% set hideJourneyServiceHeader = true %}
{% set hideOffenderViewAnswers = true %}
{% set compactPageHeader = true %}
{% set backLinkHref = 'a1.html' %}
{% set offenceBrowseToggleHref = 'a1o.html' %}
{% set offenceBrowseRestartSearch = true %}
{% set tieringTelemetryPage = "a1o3" %}
{% set tieringTelemetryPageLabel = "Browse offences by category" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/offence-browse-heading.html" %}

<div class="offence-a1o3-category-select govuk-!-margin-bottom-6" data-offence-category-step>
  <div class="govuk-form-group govuk-!-margin-bottom-0">
    <label class="govuk-label" for="offence-category-select">Offence category</label>
    <select class="govuk-select" id="offence-category-select" name="offence_category" data-offence-category-select>
      <option value="">Select a category</option>
    </select>
  </div>
</div>

<div class="offence-a1o3-category-content" data-offence-category-content hidden>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
    Offences in ‘<span data-offence-active-category-label></span>’
  </h2>
</div>

<form id="tiering-a1o3-form" class="govuk-!-margin-top-3" novalidate>

  {% include "includes/offence-browse-form-open.html" %}

  <div class="offence-browse-accordions govuk-!-margin-bottom-6" data-offence-accordions></div>

  <div data-offence-pagination hidden></div>

  {% include "includes/offence-browse-form-footer.html" %}

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
