{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Static assessment complete" %}
{% set pageHeading = "Static assessment complete" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Complete" %}
{% set tieringTelemetryPage = "a6" %}
{% set tieringTelemetryPageLabel = "Static assessment complete" %}
{% set backLinkHref = "a5.html" %}
{% set backLinkId = "tiering-a6-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<div class="tiering-a6-options">
  <section class="tiering-a6-options__block" aria-labelledby="tiering-a6-static-heading">
    <h2 class="govuk-heading-m tiering-a6-static-done" id="tiering-a6-static-heading">
      <span class="tiering-a6-static-done__label">Static assessment is ready to review</span>
      <svg class="tiering-a6-static-done__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path fill="none" stroke="currentColor" stroke-width="4.125" stroke-linecap="butt" stroke-linejoin="miter" d="M3.5 12.5 8.5 17.5 20.5 5.5"/>
      </svg>
    </h2>
    <button type="button" class="govuk-button" data-tiering-a6-action="done" data-module="govuk-button">
      Save and continue
    </button>
    <div class="tiering-a6-options__dynamic-hint">
      <p class="govuk-body govuk-!-margin-bottom-0">You can also continue with the dynamic assessment.</p>
    </div>
    <button type="button" class="govuk-button govuk-button--secondary tiering-a6-options__dynamic-button" data-tiering-a6-action="continue" data-module="govuk-button">
      Start dynamic assessment
    </button>
  </section>
</div>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
