{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Section 1 complete" %}
{% set pageHeading = "Section 1 is complete" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Complete" %}
{% set tieringTelemetryPage = "a6" %}
{% set tieringTelemetryPageLabel = "Section 1 complete" %}
{% set backLinkHref = "a5.html" %}
{% set backLinkId = "tiering-a6-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<div class="tiering-a6-options">
  <section class="tiering-a6-options__block" aria-labelledby="tiering-a6-static-heading">
    <p class="govuk-body govuk-!-margin-bottom-4 tiering-a6-static-available" id="tiering-a6-static-heading">
      <strong>Static scores are available</strong>
    </p>
    <button type="button" class="govuk-button" data-tiering-a6-action="done" data-module="govuk-button">
      Save and continue
    </button>
    <div class="tiering-a6-options__section-two">
      <p class="govuk-body govuk-!-margin-bottom-2">You can continue with Section 2.</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Completing section two will generate dynamic scores</p>
    </div>
    <button type="button" class="govuk-button govuk-button--secondary tiering-a6-options__section-two-button" data-tiering-inactive-link data-module="govuk-button">
      Start section 2
    </button>
  </section>
</div>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
