{% extends "layouts/assessment.html" %}

{% set offenderFirstName = "Alex" %}
{% set offenderFullName = "Alex Smith" %}
{% set pageName = "Risk predictor scores" %}
{% set activeSection = "section-1" %}
{% set pageHeading = "Risk predictor scores" %}
{% set statusTag = "Complete" %}
{% set tieringTelemetryPage = "a8" %}
{% set tieringTelemetryPageLabel = "Risk predictor score" %}
{% set backLinkHref = "a7.html" %}
{% set backLinkId = "tiering-a8-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<span id="top" class="govuk-visually-hidden" aria-hidden="true"></span>

{% include "includes/assessment-question-header.html" %}

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">Contents</h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#score">Scores</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#answers">Answers</a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="score">
    {% include "includes/risk-predictor-scores.html" %}
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="answers">
    <div id="tiering-summary-list" class="tiering-summary-list govuk-!-margin-top-6" data-offender-first-name="{{ offenderFirstName }}"></div>
  </div>
</div>

<div class="risk-predictor-scores__actions govuk-!-margin-top-6">
  <button type="button" class="govuk-button" id="tiering-mark-section-complete" data-module="govuk-button">Mark this section complete</button>
</div>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
