{% extends "layouts/assessment.html" %}

{% set showArnsServiceNavigation = true %}
{% set hideServiceHeader = true %}

{% block pageTitle %}Accessibility statement - Strengths and needs{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement</h1>
    <p class="govuk-body">This is a research prototype of the Strengths and needs service. It is not a live service.</p>
    <p class="govuk-body"><a class="govuk-link" href="/san">Back to Strengths and needs</a></p>
  </div>
</div>
{% endblock %}
