{% extends "layouts/assessment-san.html" %}

{% set pageName = "Employment and education" %}
{% set sanHeading = "Employment and education" %}
{% set sanSection = "employment" %}
{% set backLinkHref = "employment.html" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div data-san-error-summary hidden></div>
{% include "includes/san/content-header.html" %}

<form id="san-employment-details-form" novalidate data-ee-page="details">
  <div class="govuk-form-group" data-ee-question="job-sector" hidden>
    <label class="govuk-label govuk-label--m" for="job-sector">What job sector does Alex work in? (optional)</label>
    <textarea class="govuk-textarea" id="job-sector" name="job_sector" rows="5" maxlength="2000"></textarea>
    <div class="govuk-hint san-character-count" data-san-character-count="job-sector">You have 2,000 characters remaining</div>
  </div>

  <div class="govuk-form-group" data-ee-question="history" data-san-error-group="history" hidden>
    <fieldset class="govuk-fieldset" id="history" aria-describedby="history-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">What is Alex's employment history?</h2>
      </legend>
      <div id="history-hint" class="govuk-hint">Include their current employment.</div>
      <div class="govuk-radios" data-module="govuk-radios">
        {% set historyOptions = [
          { id: "continuous", label: "Continuous employment history", hint: "They may have had a break in employment due to things like redundancy, illness or caring for a family member." },
          { id: "changes-often", label: "Generally in employment but changes jobs often" },
          { id: "unstable", label: "Unstable employment history with regular periods of unemployment" }
        ] %}
        {% for option in historyOptions %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="history-{{ option.id }}" name="employment_history" type="radio" value="{{ option.id }}"{% if option.hint %} aria-describedby="history-{{ option.id }}-hint"{% endif %} data-aria-controls="conditional-history-{{ option.id }}">
          <label class="govuk-label govuk-radios__label" for="history-{{ option.id }}">{{ option.label }}</label>
          {% if option.hint %}
          <div id="history-{{ option.id }}-hint" class="govuk-hint govuk-radios__hint">{{ option.hint }}</div>
          {% endif %}
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-history-{{ option.id }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="history-{{ option.id }}-details">Give details (optional)</label>
            <div class="govuk-hint">Include what type of work they've done before.</div>
            <textarea class="govuk-textarea" id="history-{{ option.id }}-details" name="history_{{ option.id | replace('-', '_') }}_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="history-{{ option.id }}-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="history-unknown" name="employment_history" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="history-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group" data-ee-question="commitments" data-san-error-group="commitments" hidden>
    <fieldset class="govuk-fieldset" id="commitments" aria-describedby="commitments-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Does Alex have any additional day-to-day commitments?</h2>
      </legend>
      <div id="commitments-hint" class="govuk-hint">Select all that apply.</div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% set commitmentOptions = [
          { id: "caring", label: "Caring responsibilities", details: true },
          { id: "child", label: "Child responsibilities", details: true },
          { id: "studying", label: "Studying", details: false },
          { id: "volunteering", label: "Volunteering", details: true },
          { id: "other", label: "Other", details: true },
          { id: "unknown", label: "Unknown", details: false }
        ] %}
        {% for option in commitmentOptions %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="commitment-{{ option.id }}" name="commitments" type="checkbox" value="{{ option.id }}"{% if option.details %} data-aria-controls="conditional-commitment-{{ option.id }}"{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="commitment-{{ option.id }}">{{ option.label }}</label>
        </div>
        {% if option.details %}
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-commitment-{{ option.id }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="commitment-{{ option.id }}-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="commitment-{{ option.id }}-details" name="commitment_{{ option.id }}_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="commitment-{{ option.id }}-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="govuk-checkboxes__divider">or</div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="commitment-none" name="commitments" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="commitment-none">None</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group" data-ee-question="academic" data-san-error-group="academic" hidden>
    <fieldset class="govuk-fieldset" id="academic">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Select the highest level of academic qualification Alex has completed</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        {% set academicOptions = [
          { id: "entry", label: "Entry level", hint: "For example, entry level diploma" },
          { id: "level-1", label: "Level 1", hint: "For example, GCSE grades 3, 2, 1 or grades D, E, F, G" },
          { id: "level-2", label: "Level 2", hint: "For example, GCSE grades 9, 8, 7, 6, 5, 4 or grades A*, A, B, C" },
          { id: "level-3", label: "Level 3", hint: "For example, A level" },
          { id: "level-4", label: "Level 4", hint: "For example, higher apprenticeship" },
          { id: "level-5", label: "Level 5", hint: "For example, foundation degree" },
          { id: "level-6", label: "Level 6", hint: "For example, degree with honours" },
          { id: "level-7", label: "Level 7", hint: "For example, master's degree" },
          { id: "level-8", label: "Level 8", hint: "For example, doctorate" }
        ] %}
        {% for option in academicOptions %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="academic-{{ option.id }}" name="academic_qualification" type="radio" value="{{ option.id }}" aria-describedby="academic-{{ option.id }}-hint">
          <label class="govuk-label govuk-radios__label" for="academic-{{ option.id }}">{{ option.label }}</label>
          <div id="academic-{{ option.id }}-hint" class="govuk-hint govuk-radios__hint">{{ option.hint }}</div>
        </div>
        {% endfor %}
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="academic-none" name="academic_qualification" type="radio" value="none">
          <label class="govuk-label govuk-radios__label" for="academic-none">None of these</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="academic-unknown" name="academic_qualification" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="academic-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group" data-ee-question="vocational" data-san-error-group="vocational" hidden>
    <fieldset class="govuk-fieldset" id="vocational">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Does Alex have any professional or vocational qualifications?</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vocational-yes" name="vocational" type="radio" value="yes" data-aria-controls="conditional-vocational-yes">
          <label class="govuk-label govuk-radios__label" for="vocational-yes">Yes</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-vocational-yes">
          <div class="govuk-form-group">
            <label class="govuk-label" for="vocational-yes-details">Give details</label>
            <textarea class="govuk-textarea" id="vocational-yes-details" name="vocational_yes_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="vocational-yes-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vocational-no" name="vocational" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="vocational-no">No</label>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vocational-unknown" name="vocational" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="vocational-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group" data-ee-question="skills" data-san-error-group="skills" hidden>
    <fieldset class="govuk-fieldset" id="skills">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Does Alex have any skills that could help them in a job or to get a job?</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        {% set skillOptions = [
          { id: "yes", label: "Yes", hint: "This includes any completed training, qualifications, work experience or transferable skills.", details: true },
          { id: "some", label: "Some skills", hint: "This includes partially completed training or qualifications, limited on the job experience or skills that are not directly transferable.", details: true },
          { id: "no", label: "No", hint: "This includes having no other qualifications, incomplete apprenticeships or no history of working in the same industry.", details: false }
        ] %}
        {% for option in skillOptions %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="skills-{{ option.id }}" name="skills" type="radio" value="{{ option.id }}" aria-describedby="skills-{{ option.id }}-hint"{% if option.details %} data-aria-controls="conditional-skills-{{ option.id }}"{% endif %}>
          <label class="govuk-label govuk-radios__label" for="skills-{{ option.id }}">{{ option.label }}</label>
          <div id="skills-{{ option.id }}-hint" class="govuk-hint govuk-radios__hint">{{ option.hint }}</div>
        </div>
        {% if option.details %}
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-skills-{{ option.id }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="skills-{{ option.id }}-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="skills-{{ option.id }}-details" name="skills_{{ option.id }}_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="skills-{{ option.id }}-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group" data-ee-question="difficulties" data-san-error-group="difficulties" hidden>
    <fieldset class="govuk-fieldset" id="difficulties" aria-describedby="difficulties-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Does Alex have difficulties with reading, writing or numeracy?</h2>
      </legend>
      <div id="difficulties-hint" class="govuk-hint">Select all that apply.</div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% set difficultyOptions = [
          { id: "reading", label: "Yes, with reading" },
          { id: "writing", label: "Yes, with writing" },
          { id: "numeracy", label: "Yes, with numeracy" }
        ] %}
        {% for option in difficultyOptions %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="difficulty-{{ option.id }}" name="difficulties" type="checkbox" value="{{ option.id }}" data-aria-controls="conditional-difficulty-{{ option.id }}">
          <label class="govuk-label govuk-checkboxes__label" for="difficulty-{{ option.id }}">{{ option.label }}</label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-difficulty-{{ option.id }}">
          <div class="govuk-form-group" data-san-error-group="difficulty-{{ option.id }}">
            <fieldset class="govuk-fieldset" id="difficulty-{{ option.id }}-level">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">Select level of difficulty</legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="difficulty-{{ option.id }}-significant" name="difficulty_{{ option.id }}" type="radio" value="significant">
                  <label class="govuk-label govuk-radios__label" for="difficulty-{{ option.id }}-significant">Significant difficulties</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="difficulty-{{ option.id }}-some" name="difficulty_{{ option.id }}" type="radio" value="some">
                  <label class="govuk-label govuk-radios__label" for="difficulty-{{ option.id }}-some">Some difficulties</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-checkboxes__divider">or</div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="difficulty-none" name="difficulties" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="difficulty-none">No difficulties</label>
        </div>
      </div>
    </fieldset>
  </div>

  {% set experienceQuestions = [
    { id: "employment-experience", question: "employment-experience", name: "employment_experience", heading: "What is Alex's overall experience of employment?" },
    { id: "education-experience", question: "education-experience", name: "education_experience", heading: "What is Alex's experience of education?" }
  ] %}
  {% for experience in experienceQuestions %}
  <div class="govuk-form-group" data-ee-question="{{ experience.question }}" data-san-error-group="{{ experience.id }}" hidden>
    <fieldset class="govuk-fieldset" id="{{ experience.id }}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ experience.heading }}</h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        {% set experienceOptions = [
          { id: "positive", label: "Positive" },
          { id: "mostly-positive", label: "Mostly positive" },
          { id: "mixed", label: "Positive and negative" },
          { id: "mostly-negative", label: "Mostly negative" },
          { id: "negative", label: "Negative" }
        ] %}
        {% for option in experienceOptions %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ experience.id }}-{{ option.id }}" name="{{ experience.name }}" type="radio" value="{{ option.id }}" data-aria-controls="conditional-{{ experience.id }}-{{ option.id }}">
          <label class="govuk-label govuk-radios__label" for="{{ experience.id }}-{{ option.id }}">{{ option.label }}</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ experience.id }}-{{ option.id }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="{{ experience.id }}-{{ option.id }}-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="{{ experience.id }}-{{ option.id }}-details" name="{{ experience.name }}_{{ option.id | replace('-', '_') }}_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="{{ experience.id }}-{{ option.id }}-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ experience.id }}-unknown" name="{{ experience.name }}" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="{{ experience.id }}-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>
  {% endfor %}

  <div class="govuk-form-group" data-ee-question="changes" data-san-error-group="changes" hidden>
    <fieldset class="govuk-fieldset" id="changes" aria-describedby="changes-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Does Alex want to make changes to their employment and education?</h2>
      </legend>
      <div id="changes-hint" class="govuk-hint">Alex must answer this question.</div>
      <div class="govuk-radios" data-module="govuk-radios">
        {% set changeOptions = [
          { id: "maintain", label: "I have already made positive changes and want to maintain them" },
          { id: "active", label: "I am actively making changes" },
          { id: "know-how", label: "I want to make changes and know how to" },
          { id: "need-help", label: "I want to make changes but need help" },
          { id: "thinking", label: "I am thinking about making changes" },
          { id: "no", label: "I do not want to make changes" }
        ] %}
        {% for option in changeOptions %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changes-{{ option.id }}" name="employment_changes" type="radio" value="{{ option.id }}" data-aria-controls="conditional-changes-{{ option.id }}">
          <label class="govuk-label govuk-radios__label" for="changes-{{ option.id }}">{{ option.label }}</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-changes-{{ option.id }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="changes-{{ option.id }}-details">Give details (optional)</label>
            <textarea class="govuk-textarea" id="changes-{{ option.id }}-details" name="changes_{{ option.id | replace('-', '_') }}_details" rows="5" maxlength="2000"></textarea>
            <div class="govuk-hint san-character-count" data-san-character-count="changes-{{ option.id }}-details">You have 2,000 characters remaining</div>
          </div>
        </div>
        {% endfor %}
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changes-no-answer" name="employment_changes" type="radio" value="no-answer">
          <label class="govuk-label govuk-radios__label" for="changes-no-answer">I do not want to answer</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changes-not-present" name="employment_changes" type="radio" value="not-present">
          <label class="govuk-label govuk-radios__label" for="changes-not-present">Alex is not present</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changes-not-applicable" name="employment_changes" type="radio" value="not-applicable">
          <label class="govuk-label govuk-radios__label" for="changes-not-applicable">Not applicable</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
