{% extends "layouts/assessment.html" %}

{% set serviceHeaderTitle = "Research prototypes" %}
{% set serviceHeaderHint = "CSRP assessment journeys for research." %}
{% set hideSideNav = true %}

{% block content %}

{% include "includes/assessment-home-page-open.html" %}

<ul class="govuk-list assessment-research-prototypes">
  {% set href = "/01/a1.html" %}
  {% set title = "CSRP assessment" %}
  {% set hint = "Submitting a CSRP assessment" %}
  {% set clearSessionOnStart = true %}
  {% include "includes/research-prototype-entry.html" %}
</ul>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
