{% extends "layouts/assessment.html" %}

{% set showArnsServiceNavigation = true %}
{% set arnsServiceNavCurrent = "home" %}
{% set hideServiceHeader = true %}

{% block pageTitle %}Reoffending predictors - Research prototypes{% endblock %}

{% block content %}

{% include "includes/assessment-home-page-open.html" %}

<div class="assessment-home-header">
  <span class="govuk-caption-xl">Squad 3</span>
  <h1 class="govuk-heading-xl assessment-home-title">Prototypes</h1>
  <p class="govuk-hint assessment-home-hint">These prototypes have been built by the ARNS Actuarials team (squad 3). It shows reference designs and experiments for research.</p>
</div>

<ul class="govuk-grid-row card-group assessment-home-cards">
  <li class="govuk-grid-column-one-half card-group__item">
    <div class="card card--clickable">
      <strong class="govuk-tag govuk-tag--light-blue card__date">Jul 2026</strong>
      <h2 class="govuk-heading-m card__heading">
        <a class="govuk-link card__link govuk-link--no-visited-state" href="/reoffending-predictors">Reoffending predictors</a>
      </h2>
      <p class="govuk-body card__description">Research, reference and development prototypes.</p>
    </div>
  </li>
  <li class="govuk-grid-column-one-half card-group__item">
    <div class="card card--clickable">
      <strong class="govuk-tag govuk-tag--light-blue card__date">Sep 2026</strong>
      <h2 class="govuk-heading-m card__heading">
        <a class="govuk-link card__link govuk-link--no-visited-state" href="/san">Strengths and needs (SAN)</a>
      </h2>
      <p class="govuk-body card__description">Prototypes for the strengths and needs assessment.</p>
    </div>
  </li>
  <li class="govuk-grid-column-one-half card-group__item">
    <div class="card card--clickable">
      <strong class="govuk-tag govuk-tag--light-blue card__date">Aug 2026</strong>
      <h2 class="govuk-heading-m card__heading">
        <a class="govuk-link card__link govuk-link--no-visited-state" href="/rosh">Risk of serious harm (ROSH)</a>
      </h2>
      <p class="govuk-body card__description">Prototypes for the risk of serious harm assessment.</p>
    </div>
  </li>
</ul>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
