{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Current offence" %}
{% set activeSection = "section-1" %}
{% set pageHeading = "Current offence details" %}
{% set pageHeadingHint = "This information is sourced from NDelius." %}
{% set pageHeadingInset = "This information comes from NDelius. If any details are wrong, contact the case administrator at your probation delivery unit (PDU)." %}
{% set pageHeadingSourceToggle = true %}
{% set statusTag = "Incomplete" %}
{% set backLinkHref = "#" %}
{% set backLinkId = "predictors-a1-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

<div id="predictors-a1-error-summary" class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1" hidden>
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body"></div>
  </div>
</div>

{% include "includes/assessment-question-header.html" %}

<form id="predictors-a1-form" novalidate data-a1-offence-display-default="table">

  {% include "includes/a1-current-offence-questions.html" %}

  <button type="submit" class="govuk-button govuk-!-margin-top-8" data-module="govuk-button">Save and continue</button>

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
