{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Search results" %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set hideServiceNavigation = true %}
{% set hideJourneyServiceHeader = true %}
{% set hideOffenderViewAnswers = true %}
{% set compactPageHeader = true %}
{% set backLinkHref = 'a1.html' %}

{% set afterJourneyHeaderHtml %}
<div class="assessment-layout__row assessment-layout__row--tight govuk-!-margin-bottom-6">
  <div>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l" data-results-caption>Current offence</span>
      <span data-results-heading>Search results</span>
    </h1>
  </div>
  {% include "includes/02/return-to-oasys-button.html" %}
</div>
<p class="govuk-body govuk-!-margin-bottom-6" data-results-count role="status" aria-live="polite" aria-atomic="true"></p>
{% endset %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

    <form id="predictors-a1r-form" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
            Select the matching offence from the search results below
          </legend>

          <table class="govuk-table offence-result-table" data-results-table hidden>
            <caption class="govuk-table__caption govuk-visually-hidden">Offence search results</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header offence-result-table__header--name">Offence</th>
              <th scope="col" class="govuk-table__header offence-result-table__header--code">Code</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" data-results-root>
            </tbody>
          </table>

          <div data-results-status role="status" aria-live="polite" aria-atomic="true">
            <p class="govuk-body">Loading results…</p>
          </div>

        </fieldset>
      </div>

      <div data-results-pagination hidden></div>

      <div class="offence-autocomplete__selected-box offence-autocomplete__selected-box--preview-row govuk-!-margin-top-8"
           data-offence-preview-container
           hidden
           role="region"
           aria-label="Selected offence">
        <div class="govuk-visually-hidden" data-offence-preview-live-region role="status" aria-live="polite" aria-atomic="true"></div>
        <p class="govuk-visually-hidden" data-offence-preview-sr-summary></p>
        <div class="offence-autocomplete__selected-preview-row" aria-hidden="true">
          <span class="offence-autocomplete__selected-preview-name" data-offence-preview-label></span>
          <span class="offence-autocomplete__selected-preview-code predictors-offence-code" data-offence-preview-code></span>
          <span class="offence-autocomplete__selected-preview-type" data-offence-preview-type hidden></span>
        </div>
      </div>

      <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-6" data-offence-preview-restart hidden>
        <a class="govuk-link" href="a1" data-results-restart-link>Start a new search</a>
      </p>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <button type="submit" class="govuk-button offence-browse-save offence-browse-save--hidden" data-module="govuk-button" data-offence-save-continue hidden>
          Save and continue
        </button>
      </div>

    </form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
