{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Community supervision" %}
{% set pageHeadingHtml = "What date did " ~ offenderFirstName ~ "'s current supervision in the community begin?" %}
{% set pageHeadingId = "predictors-supervised-community-date" %}
{% set pageHeadingClass = "predictors-question-anchor" %}
{% set pageHeadingHint = "We will fill in this date from NDelius if it is available. Change the date if it is wrong." %}
{% set pageHeadingHintId = "supervised-community-date-hint" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set backLinkHref = "a3.html" %}
{% set backLinkId = "predictors-a4-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<form id="predictors-a4-form" novalidate>

  {% include "includes/predictors-community-date-question.html" %}

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>

</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
