{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Employment and education" %}
{% set tieringSectionCaption = "Employment and education" %}
{% set pageHeadingHtml = "What is " ~ offenderFirstName ~ "'s employment history?" %}
{% set pageHeadingId = "tiering-employment-history" %}
{% set pageHeadingClass = "tiering-question-anchor" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set tieringTelemetryPage = "b2" %}
{% set tieringTelemetryPageLabel = "Employment and education" %}
{% set pageHeadingHint = "Includes their current employment." %}
{% set pageHeadingHintId = "employment-history-hint" %}
{% set backLinkHref = "b1.html" %}
{% set backLinkId = "tiering-b2-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<form id="tiering-b2-form" novalidate>
  <div class="govuk-form-group govuk-!-margin-top-0">
    <fieldset class="govuk-fieldset" aria-describedby="employment-history-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
        What is {{ offenderFirstName }}'s employment history?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="employment-history-continuous" name="employment_history" type="radio" value="continuous" aria-describedby="employment-history-continuous-hint">
          <label class="govuk-label govuk-radios__label" for="employment-history-continuous">Continuous employment history</label>
          <div id="employment-history-continuous-hint" class="govuk-hint govuk-radios__hint">
            They may have had a break in employment due to things like redundancy, illness or caring for a family member.
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="employment-history-changes-jobs-often" name="employment_history" type="radio" value="changes-jobs-often">
          <label class="govuk-label govuk-radios__label" for="employment-history-changes-jobs-often">Generally in employment but changes jobs often</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="employment-history-unstable" name="employment_history" type="radio" value="unstable">
          <label class="govuk-label govuk-radios__label" for="employment-history-unstable">Unstable employment history with regular periods of unemployment</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="employment-history-unknown" name="employment_history" type="radio" value="unknown">
          <label class="govuk-label govuk-radios__label" for="employment-history-unknown">Unknown</label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
