{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Drug use" %}
{% set pageHeadingHtml = "Which drugs has " ~ offenderFirstName ~ " misused?" %}
{% set pageHeadingId = "predictors-drugs-misused-types" %}
{% set pageHeadingClass = "predictors-question-anchor" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set pageHeadingHint = "Select all that apply." %}
{% set pageHeadingHintId = "drugs-misused-types-hint" %}
{% set backLinkHref = "b3.html" %}
{% set backLinkId = "predictors-b4-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<form id="predictors-b4-form" novalidate>
  <div class="govuk-form-group govuk-!-margin-top-0">
    <fieldset class="govuk-fieldset" aria-describedby="drugs-misused-types-hint">
      {% if questionLegendAsHeading and pageHeadingHtml %}
        {% include "includes/assessment-question-legend-heading.html" %}
      {% else %}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
        Which drugs has {{ offenderFirstName }} misused?
      </legend>
      {% endif %}
      {% include "includes/02/drugs-misused-types-questions.html" %}
    </fieldset>
  </div>

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
