{% extends "layouts/assessment-proto2.html" %}

{% set offenderFirstName = "Alex" %}
{% set pageName = "Alcohol use" %}
{% set tieringSectionCaption = "Alcohol use" %}
{% set pageHeadingHtml = "Has " ~ offenderFirstName ~ " shown evidence of binge drinking or excessive alcohol use in the last 6 months?" %}
{% set pageHeadingId = "tiering-alcohol-binge-evidence" %}
{% set pageHeadingClass = "tiering-question-anchor" %}
{% set compactPageHeader = true %}
{% set activeSection = "section-1" %}
{% set statusTag = "Incomplete" %}
{% set tieringTelemetryPage = "b6c" %}
{% set tieringTelemetryPageLabel = "Alcohol use (continued)" %}
{% set backLinkHref = "b5.html" %}
{% set backLinkId = "tiering-b6c-back" %}

{% block content %}

{% include "includes/assessment-journey-page-open.html" %}

{% include "includes/assessment-question-header.html" %}

<form id="tiering-b6c-form" novalidate>
  {% include "includes/02/alcohol-binge-evidence-question.html" %}

  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>
</form>

{% include "includes/assessment-page-close.html" %}

{% endblock %}
