{#
  Dev prototype pages – standalone copy of Proto 2
#}

{% extends "layouts/assessment.html" %}

{% set showReturnToOasysButton = true %}
{% set returnToOasysButtonInclude = returnToOasysButtonInclude | default("includes/dev/return-to-oasys-button.html") %}
{% set journeyServiceHeaderInclude = journeyServiceHeaderInclude | default("includes/dev/assessment-service-header-journey.html") %}
{% set pdsHeaderInclude = "includes/dev/pds-header.njk" %}
{% set pdsFooterInclude = "includes/dev/pds-footer.njk" %}
{% set primaryNavigationInclude = "includes/dev/primary-navigation.njk" %}
{% set usePdsHeader = true %}
{% set usePrimaryNavigation = true %}
{% set useDevBetaPhaseBanner = true %}
{% set hidePageHeaderSeparator = true %}
{# Keep caption + page heading in the service header (a1 layout), not as a fieldset legend #}
{% set questionLegendAsHeading = false %}
{% set contentColumnClass = contentColumnClass if contentColumnClass is defined else "govuk-grid-column-two-thirds-from-desktop" %}

{% block pageTitle %}{% include "includes/assessment-journey-page-title.html" %}{% endblock %}
