{#
  Strengths and needs research journey pages.
  Separate copy of the private beta reference, for design changes.
  PDS header, prototype banner, offender header and section side navigation.
#}

{% extends "layouts/assessment.html" %}

{% set showReturnToOasysButton = true %}
{% set hideSideNav = false %}
{% set hideJourneyServiceHeader = true %}
{% set contentColumnPageHeader = true %}
{% set stickySideNav = false %}
{% set predictorsSectionCaption = false %}
{% set usePdsHeader = true %}
{% set usePdsFooter = true %}
{% set hideServiceNavigation = true %}
{% set phaseBannerBelowHeader = true %}
{% set pdsHeaderInclude = "includes/san-research/pds-header.njk" %}
{% set pdsFooterInclude = "includes/san-research/footer.njk" %}
{% set offenderHeaderInclude = "includes/san-research/offender-header.html" %}
{% set sideNavigationInclude = "includes/san-research/side-navigation.html" %}

{% block pageTitle %}{{ pageName | default("Strengths and needs") }} - Strengths and needs{% endblock %}

{% block headerEnd %}
  {% include "includes/san-research/phase-banner.html" %}
{% endblock %}
