{#
  Proto 2 assessment pages – Return to OASys in page headers
#}

{% extends "layouts/assessment.html" %}

{% set showReturnToOasysButton = true %}
{% set returnToOasysButtonInclude = returnToOasysButtonInclude | default("includes/02/return-to-oasys-button.html") %}
{% set journeyServiceHeaderInclude = journeyServiceHeaderInclude | default("includes/02/assessment-service-header-journey.html") %}
{% set hidePageHeaderSeparator = true %}
{% set contentColumnClass = contentColumnClass if contentColumnClass is defined else "govuk-grid-column-two-thirds-from-desktop" %}
