{#
  ARNS service name in header; Tiering assessment in the browser tab title
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block pageTitle %}Tiering assessment{% endblock %}

{% block govukHeader %}
  {% if usePdsHeader %}
    {% include pdsHeaderInclude | default("includes/02/pds-header.njk") %}
  {% else %}
    {{ govukHeader({
      homepageUrl: "/"
    }) }}
  {% endif %}
{% endblock %}

{% block govukServiceNavigation %}
  {% if serviceName and not hideServiceNavigation %}
    {% if usePrimaryNavigation %}
      {% include primaryNavigationInclude | default("includes/02/primary-navigation.njk") %}
    {% else %}
      {% include "includes/assessment-service-navigation.html" %}
    {% endif %}
  {% endif %}
{% endblock %}
